{% extends 'police/menu_police.html' %}
{% load my_filters %}
{% load i18n %}
{% block extrastyle %} {% endblock %}
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h4 class="m-0 f-bold">POLICE : N° {{ police.numero|default_if_none:"" }}</h4>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                    <li class="breadcrumb-item">Production</li>
                    <li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'police.details' police.id %}">Police</a></li>
                    <li class="breadcrumb-item active">Autres risques</li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">

  <div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">{{_('AUTRES RISQUES')}}</h3>
        <div class="card-tools"></div>
    </div>
    <div class="card-body">
      <div class="button-link pull-right mb-2">
          {% if request.user.is_production %}
            {% if autresrisques %}
                <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-autrerisque_add"><i class="fas fa-plus-circle"></i> {{_("Déclarer les risques")}}</a>
            {% endif %}
          {% endif %}
      </div>
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12 table-responsive">
            <table class="table table-bordered table-striped dataTable dtr-inline" id="table_autresrisques">
              <thead>
                <tr>
                  <th scope="col">{{_("Risque")}}</th>
                  <th scope="col">{{_("Description")}}</th>
                  <th scope="col">{{_('Date de création')}}</th>
                  <th scope="col">{{_('Statut')}}</th>
                  <th scope="col">{{_('Actions')}}</th>
                </tr>
              </thead>
              <tbody>
                  {% for rq in autresrisques %}
                      <tr>
                          <td>{{ rq.autre_risque.libelle|default_if_none:"" }}</td>
                          <td>{{ rq.autre_risque.description|default_if_none:"" }}</td>
                          <td>{{ rq.autre_risque.created_at|date:'Y-m-d' }}</td>
                          <td>
                              <span class="badge badge-{{rq.autre_risque.statut|default_if_none:''|slugify}}">{{ rq.autre_risque.statut|default_if_none:"" }}</span>
                          </td>
                          <td>
                              <span style="cursor:pointer;" class="btn_details_autrerisque" data-autrerisque_id="{{ rq.autre_risque.id }}" data-model_name="autrerisque" data-modal_title="INFORMATIONS" data-href="{% url 'details_autrerisque' police.id rq.autre_risque_id %}"><i class="fas fa-eye text-info"></i></span>&nbsp;&nbsp;
                              {% if request.user.is_production %}
                                <span style="cursor:pointer;" class="btn_modifier_autrerisque" data-autrerisque_id="{{ rq.autre_risque.id }}" data-model_name="autrerisque" data-modal_title="MODIFICATION D'UN AUTRE RISQUE" data-href="{% url 'update_autrerisque' police.id rq.autre_risque_id %}"><i class="fas fa-edit text-warning"></i></span>&nbsp;&nbsp;
                                <span style="cursor:pointer;" class="btn_supprimer_autrerisque" data-autresrisque_id="{{ rq.autre_risque.id }}" data-police_id="{{ police.id }}" data-href="{% url 'supprimer_autresrisque' police.id rq.autre_risque_id %}"><i class="fas fa-times text-danger"></i></span>
                              {% endif %}
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block extrajs %}
<script>
  $(document).ready(function() {
      $('#vehicule').removeClass('o-bg-primary');
      $('#vehicule').addClass('o-active');
  });
</script>
{% endblock %}