{% load my_filters %}
{% load i18n static jazzmin admin_urls %}
{% get_jazzmin_settings request as jazzmin_settings %}
<div  class="modal fade"  id="modal-details_vehicule" data-backdrop="static" data-keyboard="false" aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div id="form_update_vehicule">
			<div class="modal-header">
				<h4 class="modal-title"><img class="" src="" style="height:40px;border-radius:360px;"/> {{_("FICHE VEHICULE")}} - <b>{{ vehicule_aliment.vehicule.numero_immatriculation|default_if_none:"" }} | <span class="badge badge-{{vehicule_aliment.statut|default_if_none:''|slugify}}">{{ vehicule_aliment.statut|default_if_none:"" }}</span></b></h4>
				<button type="button"class="close"data-dismiss="modal"aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert  alert-dismissible fade show hidden" role="alert">
				  <span class="message"> {{_("TRAITEMENT EN COURS")}}</span>
				</div>
				<div class="col-md-12 offset-0">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item"><a class="nav-link active" id="detail_vehicule-tab" data-toggle="tab" href="#detail_vehicule" role="tab" aria-controls="detail_vehicule" aria-selected="true">{{_('IDENTITE')}}</a></li>
						<li class="nav-item"><a class="nav-link" id="sinistres-tab" data-toggle="tab" href="#sinistres" role="tab" aria-controls="sinistres" aria-selected="false">{{_("SES SINISTRES")}}</a></li>
						<li class="nav-item"><a class="nav-link" id="historiques-tab" data-toggle="tab" href="#historiques" role="tab" aria-controls="historiques" aria-selected="false">{{_("HISTORIQUES")}}</a></li>
					</ul>
					<div class="tab-content" id="myTabContent">

						<div class="tab-pane fade show active mt-3" id="detail_vehicule" role="tabpanel" aria-labelledby="detail_vehicule-tab">
							<div class="row" style="max-height:550px;">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("N° immat")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.numero_immatriculation|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("N° série")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.numero_serie|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Marque')}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.marque|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Modèle")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.modele|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Energie')}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.carburant.libelle|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Date de sortie")}} </label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.date_sortie|date:'Y-m-d'|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Place')}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.places_assises|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Parc')}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.numero_parc|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Valeur neuve")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.valeur_neuve|money_format_mille|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Poid T.A.C")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.poids_a_charge|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Conducteur')}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.conducteur|default_if_none:"" }}</span>
										</div>
									</div>
								</div>
								<div class="vl"></div>
								<div class="col-md-5" style="border-left:0px;">
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("N° immat provi.")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.vehicule.numero_immat_provisoire|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Catégorie véhicule")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{  vehicule_aliment.vehicule.categorie_vehicule.libelle|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Usage")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{  vehicule_aliment.usage.libelle|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Carrosserie')}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{  vehicule_aliment.vehicule.carosserie.libelle|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Date d'entrée")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{  vehicule_aliment.date_entree|date:'Y-m-d'|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Mise en circulation")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.date_mis_en_circulation|date:'Y-m-d'|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_('Puissance')}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{  vehicule_aliment.vehicule.puissance|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Valeur actuelle")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{ vehicule_aliment.valeur_actuelle|money_format_mille|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Poids à vide")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{  vehicule_aliment.vehicule.poids_a_vide|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Propriétaire")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{  vehicule_aliment.proprietaire|default_if_none:"" }}</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-5 col-form-label">{{_("Commentaire")}}</label>
										<div class="col-sm-7">
											<span class="form-control">{{  vehicule_aliment.commentaire|default_if_none:"" }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade mt-3" id="sinistres" role="tabpanel" aria-labelledby="sinistres-tab">
							<div class="rowd" style="padding-top:0px;">
								<div class="card">
									<div class="row">
										<div class="col-md-12">
										  <span class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#modal-sinistre"><i class="fas fa-plus-circle"></i> {{_("Nouveau sinistre")}}</span><br><br>
										</div>
									</div>
									<div class="">
										<table class="table table-bordered table-striped dataTable dtr-inline" id="table_sinistres">
											<thead>
											  <tr>
												<th scope="col">{{_('Numero_sinistre')}}</th>
												<th scope="col">{{_('Ouverture')}}</th>
												<th scope="col">{{_('Prestation')}}</th>
												<th scope="col">{{_('Prestataire')}}</th>
												<th scope="col">{{_('Garantie')}}</th>
												<th scope="col">{{_('Acte')}}</th>
												<th scope="col">{{_('Frais_reel')}}</th>
												<th scope="col">{{_('PEC')}}</th>
												<th scope="col">{{_('Statut')}}</th>
											  </tr>
											</thead>
											<tbody>
											{% for sinistre in sinistres %}
											  <tr>
												<td>&nbsp;</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											  </tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade mt-3" id="historiques" role="tabpanel" aria-labelledby="historiques-tab">
							<div class="rowd" style="padding-top:0px;">
								<div class="card">
									<div class="" style="max-height:500px;">
										<table class="table table-bordered table-striped dataTable dtr-inline" id="table_historiques">
											<thead>
												  <tr>
													  <th scope="col">{{_("N° immat")}}</th>
													  <th scope="col">{{_("Catégorie")}}</th>
													  <th scope="col">{{_("Date d'entrée")}}</th>
													  <th scope="col">{{_("Date de sortie")}}</th>
													  <th scope="col">{{_("Mise en circulation")}}</th>
													  <th scope="col">{{_("Statut")}}</th>
													  <th scope="col" style="width:5% !important" class="text-center">{{_("Actions")}}</th>
												  </tr>
											</thead>
											<tbody>
												{% for historique in historiques %}
													  <tr>
														  <td>{{ historique.numero_immatriculation|default_if_none:"" }}</td>
														  <td>{{ historique.categorie_vehicule.libelle|default_if_none:"" }}</td>
														  <td>{{ historique.date_entree|date:'Y-m-d'|default_if_none:"" }}</td>
														  <td>{{ historique.date_sortie|date:'Y-m-d'|default_if_none:"" }}</td>
														  <td>{{ historique.date_mis_en_circulation|date:'Y-m-d'|default_if_none:"" }}</td>
														  <td><span class="badge badge-{{historique.statut|default_if_none:''|slugify}}">{{ historique.statut|default_if_none:"" }}</span></td>
														  <td class="text-center" style="cursor:pointer !important">
															  <span data-toggle="modal" data-target="#modal-historique_vehicule{{ historique.id }}" class="text-info"><i class="fa fa-eye"></i></span>
														  </td>
													  </tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> {{_('Fermer')}}</button>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
{% for historique in historiques %}
<div  class="modal fade modal_interne"  id="modal-historique_vehicule{{ historique.id }}" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none">
	<div class="modal-dialog modal-xl" style="">
		<div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{_("HISTORIQUE DU VEHICULE")}} - <b>{{ historique.id }} {{ historique.numero_immatriculation|default_if_none:"" }} | <span class="badge badge-{{historique.statut|default_if_none:''|slugify}}">{{ historique.statut|default_if_none:"" }}</span></b></h4>
                <button type="button" data-dismiss="modal" aria-label="Close" style="border:none;background:none; color:#3F3F3F">
                    <span aria-hidden="true"><i class="fa fa-remove"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert  alert-dismissible fade show hidden" role="alert">
                    <span class="message"> {{_("TRAITEMENT EN COURS")}}</span>
                </div>
                <div class="col-md-12 offset-0">
                    <div class="row" style="max-height:550px;">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("N° immat")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.numero_immatriculation|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("N° série")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.numero_serie|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Marque')}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.marque|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Modèle")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.modele|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Energie')}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.carburant.libelle|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Date de sortie")}} </label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.date_sortie|date:'Y-m-d'|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Place')}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.places_assises|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Parc')}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.numero_parc|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Valeur neuve")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.valeur_neuve|money_format_mille|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Poid T.A.C")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.poids_a_charge|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Conducteur')}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.conducteur|default_if_none:"" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md-5" style="border-left:0px;">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("N° immat provi.")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.numero_immat_provisoire|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Catégorie véhicule")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{  historique.categorie_vehicule.libelle|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Usage")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{  historique.usage.libelle|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Carrosserie')}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{  historique.carosserie.libelle|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Date d'entrée")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{  historique.date_entree|date:'Y-m-d'|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Mise en circulation")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.date_mis_en_circulation|date:'Y-m-d'|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_('Puissance')}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{  historique.puissance|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Valeur actuelle")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{ historique.valeur_actuelle|money_format_mille|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Poids à vide")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{  historique.poids_a_vide|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Propriétaire")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{  historique.proprietaire|default_if_none:"" }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">{{_("Commentaire")}}</label>
                                <div class="col-sm-7">
                                    <span class="form-control">{{  historique.commentaire|default_if_none:"" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> {{_('Fermer')}}</button>
            </div>
		</div>
	</div>
</div>
{% endfor %}