<div  class="modal fade"  id="modal-formule" data-backdrop="static" data-keyboard="false" aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<form id="form_add_formule" action="{% url 'add_formule' police.id %}" method="post">
				{% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title"> {{_("CREATION D'UNE FORMULE DE GARANTIE")}} </h4>
                    <button type="button"class="close"data-dismiss="modal"aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert  alert-dismissible fade show hidden" role="alert">
                        <span class="message"> {{_("TRAITEMENT EN COURS")}} </span>
                    </div>
                    <div class="col-md-12 offset-0">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="formule_general-tab_add" data-toggle="tab" href="#formule_general" role="tab" aria-controls="formule_general_add" aria-selected="true">{{_('GENERAL')}}</a></li>
                            <li class="nav-item"><a class="nav-link" id="formule_tiers_payant-tab_add" data-toggle="tab" href="#formule_tiers_payant" role="tab" aria-controls="formule_tiers_payant_add" aria-selected="false">{{_('PREFINANCEMENT')}}</a></li>
                        </ul>
                        <div class="tab-content" id="myFormuleTabContent">
                            <div class="tab-pane fade mt-3 show active" id="formule_general" role="tabpanel" aria-labelledby="formule_general-tab">
                                <div class="row">
                                    <!-- -->
                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label"> {{_("Libelle")}} <span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="libelle" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label"> {{_("Taux de ouverture")}}  (%)<span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="taux_couverture" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label"> {{_("Territorialite")}}  <span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <select class="form-control tags-multiple" name="territorialite" required>
                                                    <option value=""> {{_("Choisir")}} </option>
                                                    {% for territorialite in territorialites %}
                                                    <option value="{{ territorialite.id }}">{{ territorialite.libelle }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label"> {{_("Type tarif")}}  <span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <select class="form-control tags-multiple" name="type_tarif" required>
                                                    <option value=""> {{_("Choisir")}} </option>
                                                    {% for type_tarif in types_tarifs %}
                                                    <option value="{{ type_tarif.id }}">{{ type_tarif.libelle }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label"> {{_("Reseau de soins")}}  <span class="required"></span></label>
                                            <div class="col-sm-7">
                                                <select class="form-control tags-multiple" name="reseau_soin" >
                                                    <option value=""> {{_("Choisir")}} </option>
                                                    {% for reseau in reseaux_soins %}
                                                    <option value="{{ reseau.id }}">{{ reseau.nom }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label"> {{_("Plafond conso famille")}}  <span class="required"></span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="plafond_conso_famille"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label"> {{_("Plafond conso individuelle")}}  <span class="required"></span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control money_field" name="plafond_conso_individuelle"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label"> {{_("Pharmacie vitamines vaccins")}}  <span class="required"></span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="garantis_pharmacie"/>
                                            </div>
                                        </div>
                                        <div class="form-group row" style="display:none;">
                                            <label class="col-sm-5 col-form-label"> {{_("Date debut")}}  <span class="required">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="date" class="form-control" name="date_debut" value="{{ police.date_debut_effet|date:'Y-m-d' }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- -->
                                    <div class="vl"></div>

                                    <div class="col-md-5">

                                        <div class="p-2 mb-3">
                                            <strong> {{_("Champs à afficher sur la carte(complémentaire)")}} </strong>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_("Champ")}} 1 </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="infos_carte_consultation" maxlength="30">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_("Champ")}} 2</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="infos_carte_hospitalisation" maxlength="30">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_("Champ")}} 3</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="infos_carte_ambulatoire" maxlength="30">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_("Champ")}} 4</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="infos_carte_vitamine" maxlength="30">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_("Champ")}} 5</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="infos_carte_vaccination" maxlength="30">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{_("Afficher le Numero police")}} ?</label>
                                            <div class="col-sm-7">
                                                <div class="icheck-danger d-inline">
                                                <input type="radio" name="infos_carte_show_numero_police" value="1" id="yes_afficher_numero_police"/>
                                                <label for="yes_afficher_numero_police"> {{_("OUI")}} </label>
                                                </div>
                                                <div class="icheck-danger d-inline" style="margin-left:50px;">
                                                <input type="radio" name="infos_carte_show_numero_police" value="0" id="no_afficher_numero_police" checked/>
                                                <label for="no_afficher_numero_police">{{_("NON")}} </label>
                                                </div>
                                                <!--input type="text" class="form-control" value="{{police.numero}}"-->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">{{ _("Exclusion") }}</label>
                                            <div class="col-sm-7">
                                                <textarea class="form-control" name="exclusion">{{ formule.exclusion|default_if_none:"None" }}</textarea>
                                            </div>
                                        </div>


                                        
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade mt-3" id="formule_tiers_payant" role="tabpanel" aria-labelledby="formule_tiers_payant-tab">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label"> {{_("Mode de prefinancement")}} <span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <select class="form-control required_field" name="option_mode_prefinancement" id="option_mode_prefinancement" autocomplete="off" required>
                                                    <option value="">{{_("Choisir")}}</option>
                                                    {% for mode_prefinancement in mode_prefinancements %}
                                                    <option value="{{ mode_prefinancement.code }}">{{ mode_prefinancement.libelle }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="vl"></div>
                                    <div class="col-md-7" style="border-left:0px;margin-left:-10px;padding-left:20px;">

                                        <div class="form-group row if_tpp d-none">
                                            <label class="col-sm-4 col-form-label"> {{_("Rubriques prefinancees")}} <span class="required"></span></label>
                                            <div class="col-sm-8">
                                                <select class="form-control tags-multiple w-100 text-black" name="selected_rubriques" id="formule_rubriques" multiple="multiple" placeholder="Choisir">
                                                    {% for rubrique in rubriques %}
                                                    <option value="{{ rubrique.id }}">{{ rubrique.libelle }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{_("Retour")}}</button>
                    <button type="button" id="btn_save_formule" class="btn o-bg-primary">{{_("Valider")}}</button>
                </div>
            </form>
		</div>
	</div>
</div>