{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrastyle %} {% endblock %}
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">Liste des circonstances</h1>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                      <li class="breadcrumb-item">Paramétrage</li>
                      <li class="breadcrumb-item"><a href="{% url 'circonstance' %}">Circonstance</a></li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">{{_('Circonstances')}}</h3>
    </div>
    <div class="card-body">
        <div class="button-link pull-right mb-2">
          <a class="btn btn-sm btn-primary mb-1" data-toggle="modal"  data-target="#modal-circonstance"><i class="fas fa-plus-circle"></i> {{_("Ajouter une circonstance")}}</a>
        </div>

      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <div class="table-responsive">
              <table class="table table-bordered table-striped dataTable dtr-inline" id="table_formules">
                  <thead>
                    <tr>
                      <th class="d-none"></th>
                      <th scope="col">{{_('Code')}}</th>
                      <th scope="col">{{_('Branche')}}</th>
                      <th scope="col">{{_('Libelle')}}</th>
                      <th scope="col">{{_("Date de création")}}</th>
                      <th scope="col">{{_('Statut')}}</th>
                      <th scope="col" class="text-center">{{_('Actions')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for circonstance in circonstances %}
                    <tr>
                         <td class="d-none"></td>
                         <td>{{ circonstance.code|default_if_none:"" }}</td>
                         <td>{{ circonstance.branche.nom|default_if_none:"" }}</td>
                         <td>{{ circonstance.libelle|default_if_none:"" }}</td>
                         <td>{{ circonstance.created_at|date:"d/m/Y" }}</td>
                        <td>
                            {% if circonstance.statut %}
                                <span class="badge badge-success">Actif</span>
                            {% else %}
                                <span class="badge badge-danger">Inactif</span>
                            {% endif %}
                        </td>
                         <td class="text-center">
                             <span style="cursor:pointer;" class="btn_modifier_circonstance badge btn-sm btn-modifier rounded-pill text-center" data-circonstance_id="{circonstance.id}" data-model_name="circonstance" data-modal_title="MODIFICATION D'UNE CIRCONSTANCE" data-href="{% url 'modifier_circonstance' circonstance.id %}"><i class="fas fa-edit"></i> {{_('Modifier')}}</span>
                             <span class="badge badge-danger btn_supprimer_circonstance" data-circonstance_id="{{circonstance.id}}" data-href="{% url 'supprimer_circonstance' circonstance.id %}" style="cursor:pointer;"><i class="fa fa-trash"></i></span>&nbsp;
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#circonstance').removeClass('o-bg-primary');
        $('#circonstance').addClass('o-active');
    } );
</script>

{% include 'circonstances/modal_circonstance.html' %}
{% endblock %}
