{% load my_filters %}
{% load i18n static jazzmin admin_urls %}
<div  class="modal fade"  id="modal-update_fdr_garant"  aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form enctype="multipart/form-data" id="form_update_initialiser_fdr_garant" action="{% url 'add_mise_en_initialiser_fdr_garant' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">MODIFIER LA CAUTION D'UN GARANT</b></h4>
                    <button type="button"class="close"data-dismiss="modal"aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert  alert-dismissible fade show hidden" role="alert">
                    <span class="message"> TRAITEMENT EN COURS</span>
                    </div>
                   
                    <div class="col-md-12 offset-0">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group row" id="">
                                    <label class="col-form-label">Garant :<span class="required">*</span></label>
                                    <select id="" name="compagnie_id" data-href="#" class="tags-multiple" autocomplete="off" required>
                                        <option value="">AMIDA</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group" id="">
                                    <label class="form-label"> Caution<span class="required">*</span></label>
                                    <input type="text" class="form-control money_field" name="montant" value="4000000" autocomplete="off" required>
                                </div>
                            </div>



                            <div class="col-sm-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label">Date paiement<span class="required">*</span></label>
                                    <input type="date" name="created_at" class="form-control" value="{% now 'Y-m-d' %}" readonly  required>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
                        <span id="loading_gif_update_fdr_garant" style="display:none;color:#BB4127;">Traitement en cours... <img src="{% static 'admin_custom/ripple-loader.svg' %}" style="width:50px;"></span>
                        <button type="button" id="btn_update_fdr_garant" class="btn o-bg-primary">Valider</button>
                    </div>
                </div>
                <div class="form_sinistre_overlay"><div style="margin:auto;padding:20px 0;color:white;text-align:center;">TRAITEMENT EN COURS ...</div></div>
			</form>
		</div>
	</div>

</div>

<script>

</script>