{% load i18n static jazzmin admin_urls %}
<div class="modal fade" id="modal-changement_compagnie" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <form method="post" action="{% url 'changement_compagnie' client.id %}" id="form_changement_compagnie">
      {% csrf_token %}
      <div class="modal-header">
        <h4 class="modal-title">{{_("CHANGEMENT D'ASSUREUR")}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
       <div class="modal-body">
       <div class="alert  alert-dismissible fade show hidden" role="alert">
          <span class="message"> {{_("TRAITEMENT EN COURS")}}</span>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{_("Ancienne police")}}<span class="text-danger">*</span></label>
                  <div class="col-sm-8">
                    <select name="ancienne_police" id="ancienne_police" class="form-control tags-multiple" autocomplete="off" required>
                      <option value="">{{_('Choisir')}}</option>
                      {% for police in anciennes_polices %}
                      <option value="{{police.id}}">{{_('N°')}} {{police.numero }} de {% for assureur in assureur_police %} {{ assureur.compagnie.nom|default_if_none:"" }} {% endfor %} ( {{derniere_historique.date_debut_effet|date:'d/m/Y'|default_if_none:""}} - {{derniere_historique.date_fin_effet|date:'d/m/Y'|default_if_none:""}})</option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{_("Nouvelle Police")}} <span class="text-danger">*</span></label>
                  <div class="col-sm-8">
                    <select name="nouvelle_police" id="nouvelle_police" class="form-control tags-multiple" autocomplete="off" required>
                      <option value="">{{_('Choisir')}}</option>
                      {% for police in nouvelles_polices %}
                      <option value="{{police.id}}">{{_('Numero')}} {{police.numero }} de {% for assureur in assureur_police %} {{ assureur.compagnie.nom|default_if_none:"" }} {% endfor %} ( {{derniere_historique.date_debut_effet|date:'d/m/Y'|default_if_none:""}} - {{derniere_historique.date_fin_effet|date:'d/m/Y'|default_if_none:""}})</option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> {{_('Retour')}}</button>
        <span id="loading_gif" style="display:none;color:#BB4127;">{{_("Traitement en cours")}}... <img src="{% static 'admin_custom/ripple-loader.svg' %}" style="width:50px;"></span>
        <button type="button" id="btn_valider_changement_compagnie" class="btn btn-info"><i class="fa fa-check-circle"></i> {{_('Transferer')}}</button>
      </div>

      </form>
    </div>
  </div>
</div>