# Environnements virtuels
venv/
.env
.venv/
env/
ENV/
env.bak/
env.d/
.Python

# Fichiers de configuration spécifiques au système
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3
*.db

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover
.tox/
.nox/
.cache
coverage.xml

# Alembic migrations
migrations/*.pyc
migrations/__pycache__/


# IDE files
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.backup
.vscode/

# Static files and compiled files
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
node_modules/
npm-debug.log*

# Others
*.env.*
*.env

# Fichier de reglage ou autres
settings.py
manage.py
debug.log
wsgi.py
passenger_wsgi.py

# Fichier de documentation
requete.txt
requete_html.html
requete_views.py
github.txt
touch


#Documents ou fichiers à ne pas transmettre
portefeuilles/fichiers/*.xlsx

clients/documents/*.docx
clients/documents/*.xlsx
clients/documents/*.png
clients/documents/*.jpg
clients/documents/*.jpeg
clients/logos/*.png
clients/logos/*.jpg
clients/logos/*.jpeg
clients/polices/logos_partenaires/*.png
clients/polices/logos_partenaires/*.jpg
clients/polices/logos_partenaires/*.jpeg

factures/fact_compagnies/*.docx
factures/fact_compagnies/*.xlsx
factures/fact_compagnies/*.png
factures/fact_compagnies/*.jpg
factures/fact_compagnies/*.jpeg

modeles/prescripteur/*.docx
modeles/prescripteur/*.xlsx
modeles/prescripteur/*.png
modeles/prescripteur/*.jpg
modeles/prescripteur/*.jpeg

bordereaux/*.docx
bordereaux/*.xlsx
bordereaux/*.png
bordereaux/*.jpg
bordereaux/*.jpeg

aliments/police_631/*.docx
aliments/police_631/*.xlsx
aliments/police_631/*.png
aliments/police_631/*.jpg
aliments/police_631/*.jpeg

