
/****** SIDEBAR CSS ******/
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background-color: #ededed !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: #F16623;
    color: #fff !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #000 !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #F16623;
    color: #fff !important;
}


.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background: #F16623;
    color: #fff !important;
}

[class*=sidebar-dark-] {
    background-color: #343a40;
}

[class*=sidebar-dark-] .sidebar a {
    color: #cccaca;
}

[class*=sidebar-dark-] .nav-header {
    background-color: inherit;
    color: #8e8e8e;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: rgb(84 82 82 / 10%);
    color: #fff;
}


img.custom-logo.brand-image {
    box-shadow: none !important;
    margin-left: 0px;
}

.accent-primary [class*=sidebar-dark-] .sidebar a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link) {
    color: #454545;
}

.user-profile {
    font-size: 2.4em;
    color: #d9d9d9;
}

.accent-primary [class*=sidebar-dark-] .sidebar a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):hover {
    color: #4545457d;
}

[class*=sidebar-dark] .user-panel {
    border-bottom: 1px solid #CCC;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #F16623;
    background: white;
}

/****** SIDEBAR CSS END ******/

/****** TOP BAR CSS ******/

.navbar-white {
    background: linear-gradient(45deg, #F16623, #F16623);
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

/****** TOP BAR CSS END ******/

/****** BODY STYLE CSS ******/

.jsoneditor-menu {
    width: 100%;
    height: 35px;
    background-color: #bd3621 !important;
    border-bottom: 1px solid #bd361f !important;
}

.jsoneditor-contextmenu .jsoneditor-menu {
    background-color: #fff !important;
}

.jsoneditor {
    border: thin solid #bd361f !important;
}

.jsoneditor-menu a.jsoneditor-poweredBy {
    display: none;
}

.accent-primary .page-item.active .page-link, .accent-primary .page-item.active a {
    background-color: #C11B0E;
    border-color: #C11B0E;
    color: #fff;
}

.accent-primary .page-item .page-link {
    color: #C11B0E;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #C11B0E;
    border-color: #C11B0E;
}

.btn-outline-primary {
    color: #C11B0E;
    border-color: #C11B0E;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #C11B0E;
    border-color: #C11B0E;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #F16623 !important;
    color: white;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #F16623;
    color: #fff;
}

.selector-chosen h2 {
    background: #ffe699;
    color: #000;
}

.card-primary.card-outline {
    border-top: 3px solid #9dc4e6;
}

.accent-primary .btn-link, .accent-primary .nav-tabs .nav-link, .accent-primary a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn) {
    color: #000;
}

.accent-primary .btn-link:hover, .accent-primary .nav-tabs .nav-link:hover, .accent-primary a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn):hover {
    color: #FFF;
}

.accent-primary .dropdown-item.active, .accent-primary .dropdown-item:active {
    background-color: #C11B0E;
    color: #fff;
}

input:checked {
  border: 1px solid #C11B0E;
}

/****** BODY STYLE CSS END ******/


/*******/
.money_field{
    text-align:right;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	box-shadow: inset 0 0 0 transparent;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	/* text-align:left !important; */

}

.bg-olea{
    /*background-color:#a75033 !important;*/
    background-color:#FEFEFE !important;
}



.login-box .login-logo img{
    height: 60px !important;
}


.form-control.error{
    border:1px solid red;
}

label.error{
    color: red;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 0px;
}

span.required{
    color: red;
    font-weight: normal;
}

tr.tr_selected {
  background: #EBF8A4 !important;
}

table.table_v_middle th, table.table_v_middle td{
    vertical-align:middle;
}

.btnOpenDialogDetailQuittance{
    cursor: pointer;
}

.montant_total_a_regler{
    font-weight:bold;
}

#modal-reglement #table_quittances_impayees td{
    vertical-align:middle;
    padding-top: 5px;
    padding-bottom: 5px;
}
#modal-reglement #table_quittances_impayees .montant_a_regler{
    font-weight:bold;
}

.modal_interne{
    margin-top:50px;
}

.modal_interne .modal-header{
    padding-top:5px;
    padding-bottom:5px;
}


:root {
  --couleur_olea: #F16623;
  --colorPrimary: #F16623;
  --colorInov: orange;
  --colorJauneOlea: #EFBF77;
  --colorAccent: gray;
}

.callout{
    border-left-color: var(--colorPrimary);
}

#page_client .card-header:not(.nobg),
#page_police .card-header:not(.nobg) {
    background:linear-gradient(30deg, var(--colorPrimary), var(--colorPrimary));
}


/*page police*/
.vl {
    border-left: 2px solid var(--colorPrimary);
    height: auto;
  }
.o-primary {
    color: var(--colorPrimary);
}
.o-bg-primary {
    background-color: var(--colorPrimary);
    color: #fff;
}
.o-active {
  background-color: #fff;
  color: #665a51;
  color: gray;
}

.tab-pane{
    overflow-x: hidden;
}

.dropzone .dz-preview .dz-details, .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-error-message, .dropzone .dz-preview .dz-progress
{
  display:none;
  border:2px solid red;
}

/*fin page police*/


/* shimmer effects */
article{
    background: #ddd;
    width: 100%;
    position: relative;
    padding: 1px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

article .line{
    width: 100%;
    height: 10px;
    background: #bbb;
    margin: 10px 0 0 0;
    border-radius: 5px;
}

article .shimmer{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background: linear-gradient(100deg,
    rgba(255,255,255,0) 20%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,0) 80%);

    animation: shimmer 2s infinite linear;
}

@keyframes shimmer{
    from {
        transform: translateX(-200%);
    }
    to{
        transform: translateX(200%);
    }
}

/* fin effet chargement */


.form_sinistre_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black */
  display: none; /* initially hidden */
}

.btn-details{
    background: #138496;
    color: white;
    font-weight: normal;
}

.btn-details:hover{
    background: #F16623;
    color: white;
}

.btn-traiter_remb{
    background: var(--blue);/*cyan*/
    color: white;
    font-weight: normal;
}

.btn-traiter_remb:hover{
    background: var(--green);
    color: white;
}

.btn-modifier{
    background: #F16623;
    color: white;
    font-weight: normal;
}

.btn-modifier:hover{
    background: #5dc3545;
    color: white;
}

.btn-desactiver{
    background: #dc3545;
    color: white;
}

.btn-desactiver:hover{
    background: rgba(225,225,225,.9);
    color: #dc3545;
    border-color: #dc3545;
}

.select2-acte_soins_ambulatoires-container{
    display: none;
}
.select2-acte_soins_ambulatoires-container .select2-selection__choice__remove{
    display: none;
}

.unselectable-option {
    pointer-events: none;
    color: #aaa;
}

.field-cachet{
    display: none;
}

.m-bg-light
{
    background-color: #d7dadd!important;
    color: #000;
}

.o-bg-top
{
    background-color: #F16623 !important;
    color: #000;
}

.o-bg-bottom
{
    background-color: #B7482B!important;
    color: #000;
}

.o-bg-grey
{
    background-color: #666666!important;
    color: #000;
}
.o-bg-light
{
    background-color: #B8B8B8!important;
    color: #000;
}
.o-bg-black
{
    background-color: #000000!important;
    color: #000;
}


.card-header, .card-header0, .bg_rouge_olea
{
    background-color: var(--colorInov)!important;
    color: #fff;
}

.btn-complement-rouge{
    background: #F16623;
    color: #fff;
}

.btn-complement-rouge:hover{
    background: #594b45;
    color: #fff;
}


.btn-complement-jaune{
    background: var(--colorPrimary);
    color: #fff;
}

.btn-complement-jaune:hover{
    background: #594b45;
    color: #fff;
}


.card-header .btn-default:not(.btn-retour), .btn-paiement_comptable {
    background: #F16623;
    color: #fff;
}

.card-header .btn-default:not(.btn-retour):hover, .btn-paiement_comptable:hover{
    background: #594b45#594b45;
    color: white;
}


/*pour gérer les statuts*/
.badge-actif, .badge-accorde, .badge-effectue, .badge-valide, .badge-paye, .badge-en-cours, .badge-reverse, .badge-soldee, .badge-encaissee{
  color: #fff;
  background-color: #28a745;
}

.badge-inactif, .badge-rejete, .badge-sorti, .badge-resilie, .badge-non-encaissee, .badge-cloture-sinistre{
  color: #fff;
  background-color: #dc3545;
}

.badge-suspendu{
  color: #fff;
  background-color: #ffc107;
}

.badge-annule{
  color: #fff;
  background-color: red;
}

.badge-ordonnance{
  color: #fff;
  background-color: #6c757d;
}

/*ou statut est vide, ...*/
.badge-, .badge-en-attente, .badge-non-effectue, .badge-non-reverse{
  color: #fff;
  background-color: #6c757d;
}

.badge-sortie-en-cours{
    background-color: #ffc107;
    color: white;
}
.badge-entree-en-cours{
    background-color: #F16623;
    color: white;
}

.numero_carte{
  text-transform: uppercase;
}


#search_group .btn-outline-primary{
  background: white;
}
#search_group .btn-outline-primary:hover{
  color: black;
}

.quiet a{
  color: black;
}

.current_bureau, .current_police{
    padding:10px;
    background: linear-gradient(45deg, #F16623, #F16623);
    color: #fff !important;
    border-radius: 3px;
    font-weight: bold;
    /*box-shadow: 3px 3px 20px 0 rgb(123 31 162 / 50%);*/
}

.f-bold{
    font-weight:bold;
}

.nav-tabs{
    margin-top:-17px;
    /*width: 1137.9px;*/
    background: orange;
    /*margin-left: -23.5px;*/
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.nav-tabs a{
    color:#FFF !important;
}

.nav-tabs .nav-link.active{
    background: #6B726A;
    color: #000 !important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 1px solid #ccc;
    border: 1px solid orange;
    font-weight: bold;
}

.button-link{
    padding: 10px;
}

.bg-inov-vive{
    background: #DC985D;
    color: #fff;
}

.bg-inov-elegante{
    background: #FFA500;
    color: #fff;
}

.bg-inov-variation{
    background:  #639A88;
    color: #fff;
}

#table_clients tbody a{
    color: #EF6630;
}

.card-header-gray{
    background : orange !important;
    font-weight: bold;
}

.bordered_block {
  box-shadow: none !important;
  margin-bottom: 1rem;
  border: 1px solid #000;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 200 !important;
}

#modal-police_aliment label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 200 !important;
}


.date{
    color: red;
}

.btn-primary{
	color: #fff;
	background-color: #F16623;
	border-color: #F16623;
	box-shadow: none;
}

.btn-primary:hover{
	color: #fff;
	background-color: #d45802;
	border-color: #d45802;
	box-shadow: none;
}

.btn-warning{
  color: #fff;
  background-color: #AD4E09;
  border-color: #AD4E09;
  box-shadow: none;
}

.match{
  font-weight:bold;
}

#suggestions {
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

#suggestions .list-group-item {
    cursor: pointer;
}

#suggestions .list-group-item:hover {
    background-color: #f8f9fa;
}

.text-italic {
    font-style: italic !important;
}

.mt-5{
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.mt-15{
    margin-top: 15px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.bouton_action:hover{
    cursor:pointer !important;
    color:#F16623 !important;
}

.badge-yellow{
    background:#DFFF00;
    color:#000;
}

.text-inov{
    color:#F16623;
}

.text-inov_green{
    background:#639A88;
    text-align:center;
    color:#fff;
    font-weight:bold;
}

.fw-bold{
    text-transform:uppercase;
    font-weight:bold;
}


