{% extends 'sinistre/menu_sinistre.html' %}
{% load i18n %}
{% block extrastyle %} {% endblock %}
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">GED sinistre</h1>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                      <li class="breadcrumb-item">Production</li>
                      <li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'sinistre.details' sinistre.id %}">Sinistre</a></li>
                      <li class="breadcrumb-item active">GED</li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
    <div class="row ">
        <div class="col-12 col-sm-6 col-md-12">
          <h4></h4>
          <div class="card shadow_OLD">
            <div class="card-header">
                <h3 class="card-title text-white">{{_('GESTION ELECTRONIQUE DE DOCUMENTS')}}</h3>
            </div>

            <div class="card-tools">
                 <div class="button-link pull-right mb-2">
                    {% if request.user.is_production and police.etat_police == "En cours" or police.etat_police == "En attente" %}
                        <a class="btn btn-sm btn-primary mb-1 " data-toggle="modal" data-target="#modal-document"><i class="fas fa-plus-circle"></i> {{_('Ajouter un document')}}</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row table-responsive">
                         <table id="table_documents" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info" style="width:100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                        {{_("Nom du document")}}
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                        {{_("Type de document")}}
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                        {{_('Fichier')}}
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                        {{_("Date de création")}}
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                        {{_('Action')}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents %}
                                    {% if not document.quittance_id or document.police_id %}
                                        <tr class="odd">
                                            <td class="dtr-control" tabindex="0">{{ document.nom }}</td>
                                            <td class="">{{ document.type_document.libelle }}</td>
                                            <td class="text-center"><a href="{{ document.fichier.url }}"><i class="fa fa-file" title="Aperçu"></i> {{_('Afficher')}}</a></td>
                                            <td class="dtr-control" tabindex="0">{{ document.created_at|date:'d/m/Y'|default_if_none:"" }}</td>
                                            <td class="text-center">
                                                <span style="cursor:pointer;" class="btn_modifier_document badge badge-warning text-white rounded-pill text-center" data-document_id="{document.id}" data-model_name="document" data-modal_title="MODIFICATION D'UN DOCUMENT" data-href="{% url 'modifier_document' document.id %}"><i class="fas fa-edit"></i></span>
                                                <span class="badge badge-danger text-white btn_supprimer_document" data-document_id="{{ document.id }}" data-href="{% url 'supprimer_document' document.id %}" style="cursor:pointer;"><i class="fa fa-trash"></i></span>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                         </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#garantie').removeClass('o-bg-primary');
        $('#garantie').addClass('o-active');
    } );
</script>
{% endblock %}
