{% extends 'sinistre/menu_sinistre.html' %}
{% load my_filters %}
{% load i18n %}
{% block extrastyle %}{% endblock %}
<style type="text/css">
    <!--
    /*gestion des champs variables*/
    .champ_variable_details_police {
        display:none;
    }

    {% if police.mode_calcul.code == "famille" %}
    .if_detailspolice_prime_famille{
          display:flex;
    }
    {% endif %}

    {% if police.mode_calcul.code == "personne" %}
    .if_detailspolice_prime_personne{
          display:flex;
    }
    {% endif %}

    {% if police.mode_calcul.code == "adulte_enfant" %}
    .if_detailspolice_prime_adulte_enfant{
          display:flex;
    }
    {% endif %}

    {% if police.mode_calcul.code == "proportionnelle" %}
    .if_detailspolice_prime_proportionnelle{
          display:flex;
    }
    {% endif %}

    -->
</style>
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">Fiche sinistre</h1>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                      <li class="breadcrumb-item">Production</li>
                      <li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'sinistre.details' sinistre.id %}">Sinistre</a></li>
                      <li class="breadcrumb-item active">Fiche sinistre</li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
  <div class="row">
    <div class="col-12 col-md-6 col-md-12">
      <h4></h4>
      <div class="card shadow_">
        <div class="card-header o-bg-primary">
        <h3 class="card-title text-white">DETAILS SINISTRE</h3>
        <div class="card-tools">
        </div>

        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Numero sinistre</label>
                        <div class="col-sm-6">
                        <span class="form-control" title="{{ sinistre.numero|default_if_none:'' }}">{{ sinistre.numero|default_if_none:"" }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Police</label>
                        <div class="col-sm-6">
                            <span class="form-control" title="{{ sinistre.police.numero|default_if_none:'' }}">{{ sinistre.police.numero|default_if_none:""|slice:":22" }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Assureur</label>
                        <div class="col-sm-6">
                            <span class="form-control" title="{{ sinistre.compagnie.nom|default_if_none:'' }}">
                                {{ sinistre.compagnie.nom|default_if_none:"" }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Opérateur de saisie</label>
                        <div class="col-sm-6">
                            <span class="form-control" title="{{ sinistre.created_by.first_name|default_if_none:'' }} {{ sinistre.created_by.last_name|default_if_none:'' }}">
                                {{ sinistre.created_by.first_name|default_if_none:"" }} {{ sinistre.created_by.last_name|default_if_none:"" }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Client</label>
                        <div class="col-sm-6">
                            <span class="form-control" title="{{ sinistre.client.nom|default_if_none:'' }}  {{ sinistre.client.prenoms|default_if_none:'' }}">{{ sinistre.client.nom|default_if_none:"" }} {{ sinistre.client.prenoms|default_if_none:"" }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Type sinistre</label>
                        <div class="col-sm-6">
                            <span class="form-control" title="{{ sinistre.type_sinistre.libelle|default_if_none:'' }}">{{ sinistre.type_sinistre.libelle|default_if_none:""|slice:":28" }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Taux de responsabilité</label>
                        <div class="col-sm-6">
                            <span class="form-control" title="{{ sinistre.responsabilite.libelle|default_if_none:'' }}">
                                {{ sinistre.responsabilite.libelle|default_if_none:""|slice:":37" }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Date & Heure de création</label>
                        <div class="col-sm-6">
                            <span class="form-control">
                                {{ sinistre.created_at|date:'d/m/Y H:s:i' }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h6 class="o-primary">DATES</h6>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Date survenance</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{ sinistre.date_survenance|date:'d/m/Y' }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Date ouverture</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{ sinistre.date_ouverture|date:'d/m/Y' }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Date clôture</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{ sinistre.date_cloture|date:'d/m/Y' }}</span>
                        </div>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Date déclaration</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{ sinistre.date_declaration|date:'d/m/Y' }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Date réouverture</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{ sinistre.date_reouverture|date:'d/m/Y' }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h6 class="o-primary">CARACTERISTIQUES PRINCIPALES</h6>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Risque</label>
                        <div class="col-sm-6">
                        <span class="form-control" title="{{aliment_police_sinistre.risque|default_if_none:''}}">{{aliment_police_sinistre.risque|default_if_none:""|slice:":36"}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Franchise</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{sinistre.franchise|money_field}}</span>
                        </div>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Lieu de survenance</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{sinistre.lieu_survenance|default_if_none:""}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">TVA récupérée</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{sinistre.tva_recuperee|default_if_none:""}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h6 class="o-primary">GARANTIES MISES EN CAUSE</h6>
            <hr>
            <div class="row mb-3">
                <div class="col-md-11  mb-3" style="padding-right:0px;">
                    <table id="table_garanties_details_sinistre" class="table table-bordered table-striped dataTable customDataTable dtr-inline">
                        <thead>
                            <tr>
                                <th style="padding:5px;">Garantie</th>
                                <th style="padding:5px;">Franchise</th>
                                <th style="width:20%;padding:5px;">Capital</th>
                                <th style="width:20%;padding:5px;">Prime Nette</th>
                                <th style="width:20%;padding:5px;">Prime TTC</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for garantie_sinistre in garantie_sinistres %}
                            <tr>
                                <td style="padding:5px;">{{ garantie_sinistre.garantie.nom|default_if_none:"" }}</td>
                                <td style="padding:5px;" class="text-right">{{ garantie_sinistre.franchise|money_field }}</td>
                                <td style="padding:5px;padding-right:10px;" class="text-right">{{ garantie_sinistre.capital|money_field }}</td>
                                <td style="padding:5px;padding-right:10px;" class="text-right">{{ garantie_sinistre.prime_nette|money_field }} </td>
                                <td style="padding:5px;padding-right:10px;" class="text-right">{{ garantie_sinistre.prime_ttc|money_field }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-2">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Franchise</label>
                            <span class="form-control money_field" style="background: #f0dcc8; border: #f0dcc8">{{total_franchises|default_if_none:"0" }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Capital</label>
                            <span class="form-control money_field" style="background: #f0dcc8; border: #f0dcc8">{{total_capitaux|default_if_none:"0" }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Prime Nette</label>
                            <span class="form-control money_field" style="background: #f0dcc8; border: #f0dcc8">{{total_prime_nette|default_if_none:"0" }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Prime TTC</label>
                            <span class="form-control money_field" style="background: #f0dcc8; border: #f0dcc8">{{total_prime_ttc|default_if_none:"0" }}</span>
                        </div>
                    </div>
                </div>

            </div>
            <hr>
            <h6 class="o-primary">INTERVENANTS</h6>
            <hr>
            <div class="row mb-3">
                <div class="col-md-11  mb-3" style="padding-right:0px;">
                    <table id="table_intervenant_details_sinistre" class="table table-bordered table-striped dataTable customDataTable dtr-inline">
                        <thead>
                            <tr>
                                <th>Nom & Prénoms</th>
                                <th>Catégorie</th>
                                <th>Portable</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Ville</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inter in intervenants %}
                                <tr>
                                    <td>{{ inter.intervenant.nom|default_if_none:"" }} {{ inter.intervenant.prenoms|default_if_none:"" }}</td>
                                    <td>{{ inter.intervenant.type_intervenant.libelle|default_if_none:"" }}</td>
                                    <td>{{ inter.intervenant.portable|default_if_none:"" }}</td>
                                    <td>{{ inter.intervenant.email|default_if_none:"" }}</td>
                                    <td>{{ inter.intervenant.boite_postale|default_if_none:"" }}</td>
                                    <td>{{ inter.intervenant.ville|default_if_none:"" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <h6 class="o-primary">DESCRIPTION DETAILLEE</h6>
            <hr>
            <div class="row mb-3">
                <div class="col-md-11">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Fait générateur</label>
                        <div class="col-sm-10">
                            <span class="form-control">{{sinistre.fait_generateur|default_if_none:""}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Point de choc</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" cols="3" rows="2">{{sinistre.point_de_choc|default_if_none:""}}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Commentaire</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" cols="3" rows="2">{{sinistre.commentaire|default_if_none:""}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h6 class="o-primary">SITUATION SINISTRE</h6>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Mouvement</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{mouvement_sinistre.mouvement.libelle}}</span>
                        </div>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Motif</label>
                        <div class="col-sm-6">
                        <span class="form-control">{{mouvement_sinistre.motif.libelle}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#police').removeClass('o-bg-primary');
        $('#police').addClass('o-active');
    } );
</script>
{% endblock %}
