<table id="table_intervenant_sinistre" style="width:100%;" class="table table-bordered table-striped dataTable_ dtr-inline">
    <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Prénoms</th>
            <th>Catégorie</th>
            <th>Portable</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Ville</th>
        </tr>
    </thead>
    <tbody>
        <tbody>
            {% for inter in sinistre_intervenants %}
                <tr>
                    <td></td>
                    <td>{{ inter.intervenant.nom|default_if_none:"" }}</td>
                    <td>{{ inter.intervenant.prenoms|default_if_none:"" }}</td>
                    <td>{{ inter.intervenant.type_intervenant.libelle|default_if_none:"" }}</td>
                    <td>{{ inter.intervenant.portable|default_if_none:"" }}</td>
                    <td>{{ inter.intervenant.email|default_if_none:"" }}</td>
                    <td>{{ inter.intervenant.boite_postale|default_if_none:"" }}</td>
                    <td>{{ inter.intervenant.ville|default_if_none:"" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </tbody>
</table>