{% extends 'layouts/admin_error_base.html'%}
{% load static %}
{% block 'title' %}<title>403 | Axis</title>{% endblock 'title' %}
{% block 'content' %}

<!-- ################################################# CONTENT ################################################## -->

<section class="container">
    <br>
    <br>
    <br>
        <p class="assur1">403</p>
      <h1 class="ass">Forbidden</h1>
    <p>Désolé votre niveau d'accès ne vous autorise pas a accédé a cette page.</p>

</section>
{% endblock 'content' %}