{% extends 'layouts/admin_error_base.html'%}
{% load static %}
{% block 'title' %}<title>500 | Axis</title>{% endblock 'title' %}
{% block 'content' %}


<!-- ################################################# CONTENT ################################################## -->

<section class="container">
    <br>
    <br>
    <br>
        <p class="assur1">500</p>
      <h1 class="ass">Internal Server Error</h1>
    <p>Oups une erreur s'est produite. veuillez réessayer plus tard.</p>


</section>


{% endblock 'content' %}