{% extends "admin/base_site.html" %}
{% load my_filters %}
{% block extrastyle %}
<style>
    div.dataTables_processing>div:last-child>div {
        background: rgb(187 65 38) !important;
    }
</style>
{% endblock %}
{% block content %}

<div class="col-12 col-md-12 order-2 order-md-1">
    <div class="card">
      <div class="card-header o-bg-primary">
          <h3 class="card-title"><b>LISTE DES BORDEREAUX D'ORDONNANCEMENT PAYÉS</b></h3>
          <div class="card-tools">
          </div>
      </div>

      <div style="display:none__;background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
        <form method="get"><label style="font-weight:normal;font-size:12px;display:none;"><i>Formulaire de recherche</i></label>
          {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-12 col-sm-12 row">
                    <!--div class="col-md-2 row">
                        <span class="col-sm-12 text-left" style="margin-top:5px;font-weight:bold;">Recherche</span>
                    </div-->
                    <div class="col-md-3 row">
                        <span class="col-sm-5 text-right" style="margin-top:5px;">N˚ Bordereau : </span>
                        <div class="col-sm-7">
                            <input id="search_numero_bordereau" class="form-control" type="text" name="search_numero_bordereau" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                        </div>
                    </div>
                    <div class="col-md-3 row">
                        <span class="col-sm-5 text-right" style="margin-top:5px;">Prestataire : </span>
                        <div class="col-sm-7">
                            <select class="form-control tags-multiple" id="search_prestataire" style="border:1px solid rgba(0, 0, 0, 0.3);" name="search_prestataire">
                                <option value="">Choisir</option>
                                {% for prestataire in prestataires %}
                                    <option  value="{{prestataire.id}}">{{prestataire.name|default_if_none:""}} ({{prestataire.code|default_if_none:""}})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 row">
                        <span class="col-sm-5 text-right" style="margin-top:5px;">Type de paiement : </span>
                        <div class="col-sm-7">
                            <select class="form-control tags-multiple" id="" style="border:1px solid rgba(0, 0, 0, 0.3);" name="">
                                <option value="">Choisir</option>
                                <option value="">Espèces</option>
                                <option value="">Chèques</option>
                                <option value="">Virement Bancaire</option>
                                
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 row">
                        <span class="col-sm-6 text-right" style="margin-top:5px;">Période : </span>
                        <div class="col-sm-6">
                            <select class="form-control tags-multiple" id="search_periode_comptable" style="border:1px solid rgba(0, 0, 0, 0.3);" name="search_periode_comptable">
                                <option value="">Choisir</option>
                                {% for periode in periodes_comptables %}
                                    <option  value="{{periode.id}}">{{periode}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!--div class="col-md-3">
                      <button type="submit" class="form-control btn btn-sm btn-default" style="background: #BB4127; color:white;">Filtrer</button>
                    </div-->
                </div>
            </div>
        </form>
      </div>

      <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                 <!--div class="form-group row">
                    <label class="offset-8 col-sm-2 col-form-label">Période comptable <span class="required"></span></label>
                    <div class="col-sm-2">

                    </div>
                </div-->
                <table class="table table-bordered table-striped dataTable_ dtr-inline table_v_middle" id="table_bordereau_payes">
                    <thead>
                      <tr>
                          <th scope="col">Date</th>
                        <th scope="col">N˚ Bordereau</th>
                        <th scope="col">Prestataire</th>
                        <th scope="col">Période</th>
                        <th scope="col">Type de paiement</th>
                        <th scope="col">Net payé</th>
                        <th scope="col ">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>28/02/2024</td>
                            <td>CI0124-0435312-SP</td>
                            <td>POLYCLINIQUE FARAH</td>
                            <td>FEVRIER 2024</td>
                            <td>ESPÉCES</td>
                            <td>2 000 000</td>
                            <td class="text-left ml-2">
                                <span class="badge badge-pill badge-secondary"><i class="fa fa-eye"></i></span>
                                <span class="badge badge-pill o-bg-primary"><i class="fa fa-download"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>28/02/2024</td>
                            <td>CI0124-0435312-SP</td>
                            <td>POLYCLINIQUE FARAH</td>
                            <td>FEVRIER 2024</td>
                            <td>ESPÉCES</td>
                            <td>2 000 000</td>
                            <td class="text-left ml-2">
                                <span class="badge badge-pill badge-secondary"><i class="fa fa-eye"></i></span>
                                <span class="badge badge-pill o-bg-primary"><i class="fa fa-download"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>28/02/2024</td>
                            <td>CI0124-0435312-SP</td>
                            <td>POLYCLINIQUE FARAH</td>
                            <td>FEVRIER 2024</td>
                            <td>ESPÉCES</td>
                            <td>2 000 000</td>
                            <td class="text-left ml-2">
                                <span class="badge badge-pill badge-secondary"><i class="fa fa-eye"></i></span>
                                <span class="badge badge-pill o-bg-primary"><i class="fa fa-download"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>28/02/2024</td>
                            <td>CI0124-0435312-SP</td>
                            <td>POLYCLINIQUE FARAH</td>
                            <td>FEVRIER 2024</td>
                            <td>ESPÉCES</td>
                            <td>2 000 000</td>
                            <td class="text-left ml-2">
                                <span class="badge badge-pill badge-secondary"><i class="fa fa-eye"></i></span>
                                <span class="badge badge-pill o-bg-primary"><i class="fa fa-download"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>28/02/2024</td>
                            <td>CI0124-0435312-SP</td>
                            <td>POLYCLINIQUE FARAH</td>
                            <td>FEVRIER 2024</td>
                            <td>ESPÉCES</td>
                            <td>2 000 000</td>
                            <td class="text-left ml-2">
                                <span class="badge badge-pill badge-secondary"><i class="fa fa-eye"></i></span>
                                <span class="badge badge-pill o-bg-primary"><i class="fa fa-download"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}


{% block extrajs %}
<script>
    $(document).ready(function() {
dataTable = $('#table_factures_prestataires_traitees').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'bordereau_ordonnancement_paye_datatable' %}",
                "data": function (data) {
                    data.page = data.start / data.length + 1;
                    data.search_periode_comptable = $('#search_periode_comptable').val();
                    data.search_prestataire = $('#search_prestataire').val();
                    data.search_numero_bordereau = $('#search_numero_bordereau').val();

                },
                "dataSrc": function (json) {

                    return json.data;
                }
            },
            "columns": [
                {"data": "numero", "orderable": true},
                {"data": "prestataire__name", "orderable": true},
                {"data": "periode_comptable", "orderable": true},
                {"data": "net_a_payer", "orderable": true},
                {"data": "rejet", "orderable": true},
                {"data": "rembourse", "orderable": true},
                {"data": "created_at", "orderable": true},
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "paging": true,
            "pageLength": 10,
            "processing": true,  // Show the loading indicator
            "searching": false,   // Enable the search feature
            "search": {
                "search": $('#table_dossiers_sinistres-table_filter input').val()
            }
        });


        dataTable.on('xhr.dt', function (e, settings, json, xhr) {
            // Hide the spinner when the data is loaded
            $('.spinner-border').show();
        });

        // Show the spinner when the table is processing
        dataTable.on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('.spinner-border').show();
            }
        });

        // Add custom search functionality for code, name, and prenoms columns
        $('#search_periode_comptable, #search_prestataire, #search_numero_bordereau').on('keyup change', function() {
            dataTable.search('').draw(); // Clear existing search
            dataTable.draw(); // Trigger a new draw, which will include the updated search parameters
        });
    });
</script>

{% endblock %}
