{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrastyle %} {% endblock %}
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">Règlements apporteurs</h1>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                      <li class="breadcrumb-item">Comptabilité</li>
                      <li class="breadcrumb-item active">Liste des rétrocessions</li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}
{% load my_filters %}
<div class="col-12 col-md-12 order-2 order-md-1">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>ENCAISSEMENT DE COMMISSIONS DE RETROCESSION APPORTEUR</b></h3>
    </div>
    <div class="card-body">
        <div class="pull-right mb-2">
            <span id="btnOpenDialogAddEncaissementRetrocession" class="btn btn-sm btn-primary mb-1" data-toggle="modal" data-href="{% url 'add_encaissement_retrocession_apporteur' %}"><i class="fas fa-money-bill"></i> Encaisser des retrocessions apporteurs</span>
            <span class="btn btn-sm btn-info mb-1" data-toggle="modal" data-target="#modal-historique_reglement_apporteur"><i class="fas fa-list"></i> Historique règlement apporteur</span>
        </div>
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <table class="table table-bordered table-striped dataTable dtr-inline" id="table_reglements_apporteurs">
                  <thead>
                      <tr>
                        <th scope="col" width="4%"></th>
                        <th scope="col">Apporteur</th>
                        <th scope="col">Montant total reglé client</th>
                        <th scope="col">Total retro apporteur</th>
                        <!--th scope="col">Restant retro apporteur</th-->
                        <th scope="col">Nbre lignes</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for apporteur in apporteurs %}
                          <tr class="btnOpenDialogDetailApporteurEncaissementRetrocession" data-apporteur="{{apporteur.id}}">
                            <td><span class="badge badge-info"><i class="fa fa-eye"></i></span></td>
                            <td>{{ apporteur.nom|default_if_none:"" }} {{ apporteur.prenoms|default_if_none:"" }}</td>
                            <td class="text-right">{{  apporteur.sum_reglements|money_field }}</td>
                            <td class="text-right">{{ apporteur.total_montant_retrocession_apporteur|money_field }}</td>
                            <!--td class="text-right">{{ apporteur.solde_montant_retrocession_apporteur|money_field }}</td-->
                            <td class="text-center">{{ apporteur.nombre_reglements_a_recevoir_retrocession|money_field }}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#garantie').removeClass('o-bg-primary');
        $('#garantie').addClass('o-active');
    } );
</script>

{% include 'modal_add_encaissement_retrocession_apporteur.html' %}
{% include 'modal_historique_encaissement_retrocession_apporteur.html' %}

{% endblock %}
