{% extends "admin/base_site.html" %}
{% block extrastyle %} {% endblock %}
{% block content %}
{% load my_filters %}
<div class="col-12 col-md-12 order-2 order-md-1">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>{{_("REGLEMENTS APPORTEURS") }}</b></h3>
        <div class="card-tools">
            <span id="btnOpenDialogAddReglementApporteur" class="btn btn-sm btn-default" data-toggle="modal" data-href="{% url 'add_reglement_compagnie' %}"><i class="fas fa-money-bill"></i> {{_("Regler un apporteur") }}</span>
        </div>
    </div>
    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <table class="table table-bordered table-striped dataTable dtr-inline" id="table_reglements_compagnies">
                  <thead>
                      <tr>
                        <th scope="col">{{_("Nom Apporteur") }}</th>
                        <th scope="col">{{_("Nom client") }}</th>
                        <th scope="col">{{_("N° Règlement") }}</th>
                        <th scope="col">{{_("Mode règlement") }}</th>
                        <th scope="col">{{_("Montant regle") }}</th>
                        <th scope="col">{{_("Date Reg client") }}</th>
                        <th scope="col">{{_("Date reg cie") }}</th>
                        <th scope="col">{{_("Statut") }}</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for reglement in reglements_compagnies %}
                      <tr>
                        <td>{{ reglement.compagnie|default_if_none:"" }}</td>
                        <td>{{ reglement.quittance.police.client|default_if_none:"" }}</td>
                        <td>{{ reglement.numero|default_if_none:"" }}</td>
                        <td>{{ reglement.mode_reglement.libelle|default_if_none:"" }}</td>
                        <td class="text-right">{{ reglement.montant|money_field }}</td>
                        <td>{{ reglement.date_paiement|date:'d-m-Y'|default_if_none:"" }}</td>
                        <td>{{ reglement.statut_reversement_compagnie|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}


{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#garantie').removeClass('o-bg-primary');
        $('#garantie').addClass('o-active');
    } );
</script>

{% include 'modal_add_reglement_compagnie.html' %}

{% endblock %}
