{% extends "admin/base_site.html" %}
{% load my_filters %}
{% load static %}
{% block extrastyle %} {% endblock %}
{% block content %}

<div class="col-12 col-md-12 order-2 order-md-1">
  <div class="card o-bg-primary">
    <div class="card-header">
        <h3 class="card-title">
          <span class="back_icon">
            {% if request.META.HTTP_REFERER %}
            <a href="{{ request.META.HTTP_REFERER }}" class="badge btn-sm btn-default btn-retour" style="color:black;font-weight:normal;" title="Retour à la liste des prises en charges"><i class="fas fa-arrow-left"></i> {{_('Retour')}}</a>
            {% endif %}
          </span>
          <span class="the_title" style="margin-left:10px;font-weight:bold;">
            {{_('FACTURE_PRESTATAIRE')}}: {{_('BORDEREAU_Numero')}} {{ bordereau.numero }}
          </span>
        </h3>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-2">
        <div class="card-avatar mx-auto mb-4 pl-4" >
          <center>
          <a {% if bordereau.fichier %} href="{{ bordereau.fichier.url }}" {% endif %}>
            <!--<i class="fas fa-file-download img-fluid" style="font-size:64px;border:0px solid orange;border-radius:0px;"></i>-->
            <img src="{% static '../media/downloader-pdf.png' %}" class="img-fluid" style="width:64px;">
            <br><small><u>{{_('Telecharger_le_bordereau')}}</u></small>
          </a>
          </center>
        </div>
      </div>
      <div class="col-sm-10">
      <div class="">
        <!--div class="card-header">
          <h5 class="card-title">INFORMATIONS PERSONNELLES</h5>
        </div-->
        <div class="card-body mt-0 pt-0">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Periode_comptable')}} :</div>
                <div class="col-sm-6">
                  <span class=" col-sm-12 text-bold">{{ bordereau.periode_comptable|default_if_none:"" }}</span>
                </div>
              </div>
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Date_de_generation')}} :</div>
                <div class="col-sm-6">
                  <span class=" col-sm-12 text-bold">{{ bordereau.created_at|date:"d/m/Y H:i:s" }}</span>
                </div>
              </div>
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Prestataire')}} :</div>
                <div class="col-sm-6">
                  <span class="col-sm-12 text-bold">{{ bordereau.prestataire|default_if_none:"" }}</span>
                </div>
              </div>
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Genere_par')}} :<span class="required"></span></div>
                <div class="col-sm-6">
                  <span class="text-bold col-sm-12">{{ bordereau.created_by }}</span>
                </div>
              </div>

            </div>
            {% comment %} <div class="vl"></div> {% endcomment %}
            <div class="col-sm-6">
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Statut')}} :</div>
                <div class="col-sm-6">
                  <span class="text-bold badge badge-{{formule.statut|default_if_none:''|slugify}}">{{ bordereau.statut }}</span>
                </div>
              </div>
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Nombre_de_lignes')}}</div>
                <div class="col-sm-6">
                  <span class="col-sm-12 text-bold">{{ liste_sinistres_bordereau|length }}</span>
                </div>
              </div>
              {% if request.user.is_prestataire %}
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Total_net_a_payer')}}:</div>
                <div class="col-sm-6">
                  <span class="text-bold col-sm-8 badge badge-warning" style="font-size:18px;color:white;background:#F8AF3C;">{{ bordereau.net_a_payer|money_field|default_if_none:"0" }}</span>
                </div>
              </div>

              {% else %}
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Base_de_remboursement')}}: </div>
                <div class="col-sm-6">
                  <span class="text-bold col-sm-8 badge badge-warning" style="font-size:18px;color:white;background:#F8AF3C;">{{ montant_remb_total|money_field|default_if_none:"0" }}</span>
                </div>
              </div>
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Rejet')}}: </div>
                <div class="col-sm-6">
                  <span class="text-bold col-sm-8 badge badge-secondary" style="font-size:18px;color:white;">{{ montant_rejet_total|money_field|default_if_none:"0" }}</span>
                </div>
              </div>
              <div class="form-groupn mb-2 row">
                <div class="col-sm-6">{{_('Montant_a_payer')}}: </div>
                <div class="col-sm-6">
                  <span class="text-bold col-sm-8 badge badge-success" style="font-size:18px;color:white;">{{ montant_accepte_total|money_field|default_if_none:"0" }}</span>
                </div>
              </div>
            {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>


  <div class=" col-md-12">
    <form id="bulk_traitement_remboursement_form" action="{% url 'traiter_liste_remboursement' %}" method="post">
    <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h6>{{_('LISTE_DES_ACTES')}}</h6>
      </div>
      <div class="card-tools">
        {% if not request.user.is_prestataire and not is_all_processed_validated %}
        <!--button data-toggle="modal" data-target="#motif_refuser_liste_remboursements" class="btn btn-sm btn-secondary btnRefuserRemboursementsSelectionnes" disabled_>Refuser la sélection</button-->
        <button class="btn btn-sm btn-complement-rouge btnActionDesActes" id="btn_bulk_traitement_remboursement" disabled>{{_('Traiter_la_selection')}}</button>
        <button class="btn btn-sm btn-complement-rouge btnActionDesActes" id="btnValiderRemboursementsSelectionnes" data-redirection="{% url 'facturesprestataires' %}" data-href="{% url 'valider_facture_remboursement'  bordereau.id %}" {% if not is_all_processed %} disabled{% endif %}>{{_('Valider_la_facture_prestataire')}}</button>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
    <div class="table-responsive">
    <table id="table_liste_remboursements" class="table table-bordered table-striped dataTable__ dtr-inline table_v_middle">
        <thead>
          <tr>
            {% if not request.user.is_prestataire %}
            <th scope="col">
              {% if not is_all_processed_validated%}
              <input type="checkbox" id="selectAllRemboursements" title="Cocher tout">
              <span class="libelle_btnSelectAllSinistres" style="cursor:pointer;font-size:10px;">
              </span>
                {% endif %}
            </th>
            {% endif %}
            <th scope="col">{{_('Date_soin')}}</th>
            <th scope="col">{{_('Numero_Sinistre')}}</th>
            <th scope="col">{{_('Numero_feuille_de_soins')}}</th>
            <th scope="col">{{_('Matricule')}}</th>
            <th scope="col">{{_('Beneficiaire_du_soin')}}</th>
            <th scope="col">{{_('Acte')}}</th>
            {% if not request.user.is_prestataire %}
            <th scope="col">{{_('Montant_facture')}}</th>
            <th scope="col">{{_('Par_assure')}}</th>
            <th scope="col">{{_('Base_remb')}}</th>
            <th scope="col">{{_('Rejet')}}</th>
            <th scope="col">{{_('Net_a_payer')}}</th>
            <th scope="col">{{_('Statut')}}</th>
            {% else %}
            <th scope="col">{{_('Par_assureur')}}</th>
            {% endif %}
            <th scope="col">{{_('Action')}}</th>
          </tr>
        </thead>
        <tbody>
        {% for sinistre in liste_sinistres_bordereau %}
          <tr>
              {% if not request.user.is_prestataire %}
                <td>
                  {% if not sinistre.is_ges_processed %}
                  <input type="checkbox" name="sinistres_ids[]" value="{{sinistre.id}}" data-sinistre_id="{{sinistre.id}}" class ="select-row">
                  {% endif %}
                </td>
              {% endif %}
              <td>{{ sinistre.date_survenance|date:'d/m/Y à H:i'|default_if_none:"" }}</td>
              <td>{{ sinistre.numero}}</td>
              <td>{{ sinistre.dossier_sinistre.numero}}</td>
              <td style="text-align:center">{{ sinistre.aliment.carte_active|default_if_none:"" }}</td>
              <td>{{ sinistre.aliment.nom|default_if_none:"" }} {{ sinistre.aliment.prenoms|default_if_none:"" }}</td>
              <td>{{ sinistre.acte|default_if_none:"" }}</td>

              {% if not request.user.is_prestataire %}
              <td style="text-align:right">{{ sinistre.total_frais_reel|money_field|default_if_none:"0" }}</td>
              <td style="text-align:right">{% if sinistre.tm_prefinanced %} 0 {% else %} {{ sinistre.total_part_assure|money_field|default_if_none:"0" }} {% endif %}</td>
              <td style="text-align:right">{% if sinistre.tm_prefinanced %} {{ sinistre.total_frais_reel|money_field|default_if_none:"0" }} {% else %} {{ sinistre.total_part_compagnie|money_field|default_if_none:"0" }} {% endif %}</td>
              <td style="text-align:right">{{ sinistre.montant_remb_refuse|money_field|default_if_none:"0" }}</td>
              <td style="text-align:right">{{ sinistre.montant_remb_accepte|money_field|default_if_none:"0" }}</td>
              <td style="text-align:right">{% if sinistre.is_ges_processed %} <span class="text-bold col-sm-12 badge badge-success" style="font-size:10px;color:white;">TRAITÉ</span> {% else %} <span class="text-bold col-sm-12 badge badge-en-attente" style="font-size:10px;color:white;">{{_(NON_TRAITE)}}</span> {% endif %}</td>
              {% else %}
              <td style="text-align:right">{% if sinistre.tm_prefinanced and request.user.is_prestataire %} {{ sinistre.total_frais_reel|money_field|default_if_none:"0" }} {% else %} {{ sinistre.total_part_compagnie|money_field|default_if_none:"0" }} {% endif %}</td>
              {% endif %}
              <td>
              {% if not request.user.is_prestataire %}
                  {% if sinistre.is_ges_processed %}
                  <a href="javascript:0;"><span title="Traiter le remboursement" data-href ="{% url 'popup_details_sinistre' sinistre.id %}" class="btn-sm btn-details rounded-pill badge-en-attente btn-popup_details_sinistre" >{{_('Detail')}}</span></a>
                  {% else %}
                  <a href="javascript:0;"><span title="Traiter le remboursement" data-href ="{% url 'popup_details_sinistre' sinistre.id %}" class="btn-sm btn-details rounded-pill btn-popup_details_sinistre" ><i class="fa fa-edit"></i>{{_('Traiter')}}</span></a>
                  {% endif %}
              {% else %}
                <a href="{% url 'details_dossier_sinistre' sinistre.dossier_sinistre.id %}"><span class="badge btn-sm btn-details rounded-pill"><i class="fa fa-eye"></i> {{_('Details')}}</span></a>
              {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

    </div>
    </div>


  </div>
    </form >
  </div>

</div>



{% endblock %}


{% block extrajs %}
<script>
   $(document).ready(function() {
         // Desactiver le submit du formulaire
         $("form#bulk_traitement_remboursement_form").submit(function(e){
            e.preventDefault(e);
         });

         $('#table_liste_remboursements').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            order: [[2, 'desc']],
            "columnDefs": [
              { "orderable": false, "targets": [0] }, // Make the first and third columns sortable
            ],
            lengthMenu: [
                [10, 50, 100, 500, -1],
                [10, 50, 100, 500, 'Tout'],
            ]
        });

    });
</script>
{% endblock %}
