{% load my_filters %}
{% if actes|length > 0 %}
<div style="letter-spacing: 1px;">{{_('Recapitulatif_des_actes')}} - <span style="color: #BB4127;">* {{_('Les_montants_sont_provisoires_sous_reserve_de_la_validation_des_ententes_prealables')}}</span></div>
<div class="table-responsive" style="max-height:200px;">
<table id="table_actes_sinistres_autre" style="width:100%;max-height:300px;overflow:auto;" class="table table-bordered table-striped dataTable_ dtr-inline">
	<thead>
		<tr>
			<th style="width:3%;padding:2px 10px;"></th>
			<th style="width:;padding:2px 10px;">{{_('Actes')}}</th>
			<th style="width:100px;padding:2px 10px;">{{_('Couverture')}}</th>
			<th style="width:120px;padding:2px 10px;">{{_('Nbre_seances')}}</th>
			<th style="width:120px;padding:2px 10px;">{{_('Cout_de_l_acte')}}</th>
			<!--th style="width:;padding:2px 10px;">Frais réel</th-->
			<th style="width:120px;padding:2px 10px;">{{_('Part_Assureur')}}</th>
			<th style="width:100px;padding:2px 10px;">{{_('Part_assure')}}</th>
			<th style="width:120px;padding:2px 10px;">{{_('Action')}}</th>
		</tr>
	</thead>
	<tbody>
		{% for acte in actes|dictsort:"data.libelle" %}
		<tr>
			<td style="vertical-align:middle;text-align:left;padding:2px 10px;">{{ forloop.counter }}
				<input type="hidden" class="selected_acte_info" name="selected_acte_info[]" value="{{acte.data.id}}" data-acte_id="{{acte.data.id}}" data-acte_libelle="{{acte.data.libelle}}" data-acte_code="{{acte.data.code}}" data-acte_option_seance="{{acte.data.option_seance}}"
				data-frais_reel="{{ acte.data.frais_reel|diviser:acte.data.quantite_demande}}"
			   data-part_compagnie="{{ acte.data.part_compagnie}}"
			   data-part_assure="{{ acte.data.part_assure}}"
				data-consommation_rubrique="{{ acte.data.consommation_rubrique}}"
			   data-consommation_individuel="{{ acte.data.consommation_individuel}}"
			   data-consommation_famille="{{ acte.data.consommation_famille}}"
				data-plafond_rubrique="{{ acte.data.plafond_rubrique}}"
			   data-plafond_individuel="{{ acte.data.plafond_individuel}}"
			   data-plafond_famille="{{ acte.data.plafond_famille}}"
				>
			</td>
			<td style="vertical-align:middle;text-align:left;padding:2px 10px;">{{ acte.data.libelle }} {% if acte.data.observation %}<span class="text-warning0" style="color: #BB4127;">({{ acte.data.observation }})</span>{% endif %}</td>
			<td style="vertical-align:middle;text-align:right;padding:2px 10px;">{% if acte.data.tm_prefinanced %} 100 {% else %}{{ acte.data.taux_couverture|money_field }} {% endif %}%</td>
			<td style="vertical-align:middle;text-align:center;padding:2px 10px;">
				<input name="nombre_seance[]" class="form-control money_field nombre_seance" min="1" max="100" type="{% if acte.data.option_seance %}text{%else%}hidden{% endif %}" style="width:70px;padding:0px 5px;text-align:center;" value="{% if acte.data.option_seance %}{{acte.data.quantite_demande}}{%else%}1{% endif %}">
			</td>
			<td>
				<input required name="cout_acte[]" type="text" class="form-control money_field cout_acte" value="{{ acte.data.frais_reel }}" old_value="|diviser:acte.data.quantite_demande" {% if acte.data.frais_reel_from_xlsx != 0 %} readonly__  style__="width:120px;padding:0px 5px;text-align:right;border:none;background:none;" {% else %} style="width:120px;padding:0px 5px;text-align:right;" {% endif %}/>
			</td>
			<!--td style="vertical-align:middle;text-align:right;padding:2px 10px;"><span class="apercu_frais_reel">{{ acte.data.frais_reel|money_field }}</span></td-->
			<td style="vertical-align:middle;text-align:right;padding:2px 10px;"><span class="apercu_part_compagnie">{% if acte.data.tm_prefinanced %} {{ acte.data.frais_reel|money_field }} {% else %}{{ acte.data.part_compagnie|money_field }}{% endif %}</span></td>
			<td style="vertical-align:middle;text-align:right;padding:2px 10px;"><span class="apercu_part_assure">{% if acte.data.tm_prefinanced %} 0 {% else %}{{ acte.data.part_assure|money_field }}{% endif %}</span></td>
			<td style="vertical-align:middle;text-align:left;padding:2px 10px;"><span style="cursor:pointer;color:red;" class="btn btn-sm btn-default btnSupprimerLigneActe" data-acte_id="{{acte.data.id}}"><i class="fa fa-times" style="font-size:12px;"></i> {{_('Supprimer')}}</span></td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr class="tr_totaux">
			<td style="vertical-align:middle;font-weight:bold;padding:2px 10px;" colspan="4">
				{{_('TOTAL')}}
			</td>
			<td style="vertical-align:middle;font-weight:bold;text-align:right;padding:2px 10px;">
				<span id="total_frais_reel">{{ total_frais_reel|money_field }}</span>
			</td>
			<td style="vertical-align:middle;font-weight:bold;text-align:right;padding:2px 10px;">
				<span id="total_part_compagnie">{% if acte.data.tm_prefinanced %} {{ total_frais_reel|money_field }} {% else %}{{ total_part_compagnie|money_field }}{% endif %}</span>
			</td>
			<td style="vertical-align:middle;font-weight:bold;text-align:right;padding:2px 10px;">
				<span id="total_part_assure">{% if acte.data.tm_prefinanced %} 0 {% else %}{{ total_part_assure|money_field }}{% endif %}</span>
			</td>
			<td style="vertical-align:middle;font-weight:bold;text-align:right;padding:2px 10px;">
			</td>
		</tr>
	</tfoot>
</table>
</div>
{% endif %}