{% extends "admin/base_site.html" %}
{% load my_filters %}
{% block extrastyle %}
{% load i18n %}
<style>
   div.dataTables_processing>div:last-child>div {
        background: rgb(187 65 38) !important;
   }
   table td, table th {
        vertical-align:middle !important;
   }
</style>
{% endblock %}
{% block content_title %}
<div class="row mb-2">
   <div class="col-sm-6">
      <h1 class="m-0">{% trans 'Liste des dossiers sinistres' %}</h1>
   </div>
   <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
         <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
         <li class="breadcrumb-item">{% trans 'Sinistre' %}</li>
         <li class="breadcrumb-item active">{% trans 'Liste des dossiers' %}</li>
      </ol>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
   <div class="card">
      <div class="card-header">
         <h3 class="card-title"><b>
            LISTE DES SINISTRES
            </b>
         </h3>
         <div class="card-tools">
         </div>
      </div>
      <div style="background:#CCCCCC;padding:10px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;">
         <form method="get">
            <label style="font-weight:normal;font-size:12px;display:none;"><i>Formulaire de recherche</i></label>
            <div class="row">
               <div class="col-12 col-md-12 col-sm-12 row">
                  <div class="col-md-3">
                     <label for="num_sinistre">N° Sinistre :</label>
                     <input autocomplete="off" class="form-control" type="text" id="num_sinistre" style="border-radius:3px;border:1px solid brown;text-transform:uppercase;">
                  </div>
                  <div class="col-md-3">
                     <label for="client">Client :</label>
                     <select class="form-control tags-multiple" id="client" style="border-radius:3px;border:1px solid brown;text-transform:uppercase;">
                        <option value="">Choisir</option>
                        {% for clt in clients %}
                            <option value="{{clt.id}}">{{clt}}</option>
                        {% endfor %}
                     </select>
                  </div>
                  <div class="col-md-3">
                     <label for="client">Type de sinistre :</label>
                     <select class="form-control tags-multiple" id="type_sinistre" style="border-radius:3px;border:1px solid brown;text-transform:uppercase;">
                        <option value="">Choisir</option>
                        {% for typesinistre in typesinistres %}
                           <option value="{{ typesinistre.id }}">{{ typesinistre.libelle|default_if_none:"" }}</option>
                        {% endfor %}
                     </select>
                  </div>
                  <div class="col-md-3">
                     <label for="date_declaration">Date déclaration:</label>
                     <input autocomplete="off" class="form-control" type="date" id="date_declaration" value="" style="border-radius:3px;border:1px solid brown;text-transform:uppercase;">
                  </div>
                  <div class="col-md-12 mt-3">
                     <a href="/sinistre/dossiersinistre" style="float:right; margin-left:5px" class="btn btn-secondary" title="Vider le formulaire de recherche"><i class="fa fa-refresh"></i> Rafraichir</a>
                     <button type="button" style="float:right;" class="btn btn-complement-rouge" id="btn_search_sinistres"><i class="fa fa-search"></i> Rechercher</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="card-body">
         <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
               <div class="col-12 col-md-12 col-sm-12 ">
                  <div class="table-responsive">
                     <table class="table table-bordered table-striped dataTable__ customDataTable__ dtr-inline" id="table_dossiers_sinistres" style="width: 100%;" data-orderby="0">
                        <thead>
                           <tr>
                              <th scope="col">Numero sinistre</th>
                              <th scope="col">Client</th>
                              <th scope="col">Type</th>
                              <th scope="col">Circonstance</th>
                              <th scope="col">Date déclaration</th>
                              <th scope="col">Date survenance</th>
                              <th scope="col">Statut</th>
                              <th scope="col">Actions</th>
                           </tr>
                        </thead>
                        <tbody>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    $(document).ready(function() {
        const dataTable = $('#table_dossiers_sinistres').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'dossier_sinistre_datatable' %}",
                "data": function (data) {
                    data.page = data.start / data.length + 1;
                    data.num_sinistre = $('#num_sinistre').val();
                    data.type_sinistre = $('#type_sinistre').val();  // si tu as ce champ
                    data.date_declaration = $('#date_declaration').val();
                    data.client = $('#client').val();
                },
                "dataSrc": "data"
            },
            "columns": [
                {"data": "numero", "orderable": false},
                {"data": "client", "orderable": false},
                {"data": "type_sinistre", "orderable": false},
                {"data": "circonstance", "orderable": false},
                {"data": "date_declaration", "orderable": false},
                {"data": "date_survenance", "orderable": false},
                {"data": "statut", "orderable": false},
                {"data": "actions", "orderable": false, "searchable": false},
            ],
            "order": [[0, "desc"]],  // 👈 colonne 0 = numéro, tri décroissant
            "paging": true,
            "lengthMenu": [[100, 250, 500, 1000, -1], [100, 250, 500, 1000, "Tout"]],
            "pageLength": 100,
            "processing": true,
            "searching": false
        });

        // 👇 Rafraîchissement manuel quand on clique sur le bouton
        $('#btn_search_sinistres').on('click', function(e) {
            e.preventDefault();
            dataTable.ajax.reload();
        });
    });
</script>
{% endblock %}
