<div  class="modal fade modal_interne"  id="modal-sinistre_garantie" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<form id="form_add_sinistre_garantie" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">AJOUTER DES GARANTIES AU SINISTRE</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" style="border:none;background:none; color:#3F3F3F">
                        <span aria-hidden="true"><i class="fa fa-remove"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert  alert-dismissible fade show hidden" role="alert">
                        <span class="message"> TRAITEMENT EN COURS</span>
                    </div>
                    <div class="col-md-12 offset-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="garantie-modal-success" class="alert alert-success" style="display:none;"></div>
                                <div id="garantie-modal-warning" class="alert alert-warning" style="display:none;"></div>
                                <div id="garantie-modal-error" class="alert alert-danger" style="display:none;"></div>
                            </div>
                            <div class="col-md-12">
                               <table id="table_add_sinistre_garantie" style="width:100%;" class="table table-bordered table-striped dataTable_ dtr-inline">
                                    <thead>
                                        <tr>
                                            <th style="width:5%"></th>
                                            <th>Garantie</th>
                                            <th class="text-center" style="width:15%">Franchise</th>
                                            <th class="text-center" style="width:15%;">Capital</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> {{_('Fermer')}}</button>
                    <button type="button" id="btn_save_sinistre_garantie" class="btn btn-info"><i class="fa fa-check-circle"></i> {{_('Valider')}}</button>
                </div>
            </form>
		</div>
	</div>
</div>
