{% load i18n static jazzmin admin_urls %}

<style type="text/css">

    .dataTables_length, 
    .dataTables_info,
    #table_assure_filter.dataTables_filter {
        display: none;
    }

</style>

<div class="modal modal-search_assure_by_name_generation_bordereau fade" id="modal_search_assure_by_name_generation_bordereau" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
<!--            <form enctype="multipart/form-data" id="form_search_benef_by_name" action="" method="post" target="_blank">-->
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">CHERCHER UN ASSURÉ PAR NOM</h4>
                    <button type="button" class="close_modal" style="background-color: transparent;border: 0;font-size: 23px;" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-dismissible fade show hidden" role="alert">
                        <span class="message">TRAITEMENT EN COURS</span>
                    </div>
<!--                    <form method="get">-->
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Nom assuré <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input id="search_assure_m" class="form-control" type="text" style="border-radius:3px;border:1px solid rgba(0, 0, 0, 0.3);text-transform:uppercase;">
                            </div>
                        </div>
<!--                    </form>-->
                    <div class="row">
                        <div class="card-body">
                            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped customDataTable dtr-inline" id="table_assure" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Code</th>
                                                        <th scope="col">Assuré</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--            </form>-->
            <div class="form_sinistre_overlay"><div style="margin:auto;padding:20px 0;color:white;text-align:center;">TRAITEMENT EN COURS ...</div></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        // $('#beneficiaire').removeClass('o-bg-primary');
        // $('#beneficiaire').addClass('o-active');

        var dataTablePrestataire = $('#table_assure').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json",
                "emptyTable": 'Aucun enregistrements correspondants trouvés.',
            },
            "serverSide": true,
            "ajax": function(data, callback, settings) {
                // Initialize with empty dataset
                if ($('#search_assure_m').val().trim() === '') {
                    callback({ data: [] });
                } else {
                    // Load data based on search criteria
                    data.search_assure_m = $('#search_assure_m').val();
                    $.ajax({
                        url: "{% url 'search_assures_generate_facture_by_name_datatable' %}",
                        type: "GET",
                        data: data,
                        success: function(response) {
                            callback(response);
                        }
                    });
                }
            },
            "columns": [
                {"data": "assure__code", "orderable": false},
                {"data": "assure__name", "orderable": false},
                {"data": "actions", "orderable": false, "searchable": false}
            ],
            "paging": true,
            "pageLength": 10,
            "processing": true,
            "searching": true,
            "search": {
                "search": '' // Initial search value as empty string
            },
            "drawCallback": function(settings) {
                // Hide pagination if no data in the DataTable
                var api = this.api();
                if (api.rows().count() === 0) {
                    $(api.table().container()).find('.dataTables_paginate').hide();
                } else {
                    $(api.table().container()).find('.dataTables_paginate').show();
                }
            }
        });

        // Function to handle search
        function performSearch() {
            dataTablePrestataire.ajax.reload();
        }

        // Handle keyup and change events on search input
        $('#search_assure_m').on('keyup change', function() {
            performSearch();
        });

    });
</script>
