<div  class="modal fade"  id="modal-modification_motif" data-backdrop="static" data-keyboard="false" aria-hidden="trued"  style="display: noned">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="form_update_motif" action="{% url 'modifier_motif' motif.id %}" method="post">
				{% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title" id="mbu-title">{{_("MODIFICATION D'UN MOTIF")}}</h4>
                    <button type="button"class="close"data-dismiss="modal"aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
				<div class="alert  alert-dismissible fade show hidden" role="alert">
				  <span class="message">{{_("TRAITEMENT EN COURS")}}</span>
				</div>
				<div class="col-md-12 offset-0">

					<div class="tab-content" id="myTabContent">

						<div class="tab-pane fade show active mt-3" id="identity" role="tabpanel" aria-labelledby="identity-tab">
							<div class="row">
								<div class="col-md-12">
                                    <div class="form-group row">
										<label class="col-sm-3 col-form-label">{{_('Mouvement')}} <span class="required">*</span></label>
										<div class="col-sm-9">
											<select class="form-control" name="mouvement_id" id="mouvement_id" autocomplete="off" required>
												<option value="">{{_('Choisir')}}</option>
												{% for mouvement in mouvements %}
													<option value="{{ mouvement.id }}" {% if motif.mouvement_id == mouvement.id %} selected {% endif %}>{{ mouvement.libelle }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">{{_('Code')}} <span class="required">*</span></label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="code" id="code" value="{{ motif.code|default_if_none:'' }}" autocomplete="off" required>
										</div>
									</div>
                                    <div class="form-group row">
										<label class="col-sm-3 col-form-label">{{_('Libelle')}} <span class="required">*</span></label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="libelle" id="libelle" value="{{ motif.libelle|default_if_none:'' }}" autocomplete="off" required>
										</div>
									</div>
                                    <div class="form-group row">
										<label class="col-sm-3 col-form-label">{{_("Etat police")}}</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="etat_police" id="etat_police" value="{{ motif.etat_police|default_if_none:'' }}" autocomplete="off">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">{{_("Etat sinistre")}}</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="etat_sinistre" id="etat_sinistre" value="{{ motif.etat_sinistre|default_if_none:'' }}" autocomplete="off">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> {{_('Retour')}}</button>
                        <button type="button" id="btn_update_motif" class="btn btn-info"><i class="fa fa-check-circle"></i> {{_('Enregistrer')}}</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
        $(".tags-multiple").select2();
        $(document).on('click','#formule_tiers_payant_update-tab', function(){

            $(".select2-selection__choice__display").css("color", "#000");

        });
	});
</script>