{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrastyle %} {% endblock %}
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">Liste des motifs</h1>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                      <li class="breadcrumb-item">Paramétrage</li>
                      <li class="breadcrumb-item"><a href="{% url 'motifs' %}">Motifs</a></li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">{{_('Motifs')}}</h3>
    </div>
    <div class="card-body">
        <div class="button-link pull-right mb-2">
          <a class="btn btn-sm btn-primary mb-1" data-toggle="modal"  data-target="#modal-motif"><i class="fas fa-plus-circle"></i> {{_("Ajouter un motif")}}</a>
        </div>

      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <div class="table-responsive">
              <table class="table table-bordered table-striped dataTable dtr-inline" id="table_formules">
                  <thead>
                    <tr>
                      <th class="d-none"></th>
                      <th scope="col">{{_("Mouvement")}}</th>
                      <th scope="col">{{_('Code')}}</th>
                      <th scope="col">{{_('Libelle')}}</th>
                      <th scope="col">{{_('Etat Police')}}</th>
                      <th scope="col">{{_('Etat Sinistre')}}</th>
                      <th scope="col">{{_("Date de création")}}</th>
                      <th scope="col" class="text-center">{{_('Actions')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for motif in motifs %}
                    <tr>
                        <td class="d-none"></td>
                        <td>{{ motif.mouvement.libelle|default_if_none:"" }}</td>
                        <td>{{ motif.code|default_if_none:"" }}</td>
                        <td>{{ motif.libelle|default_if_none:"" }}</td>
                        <td>{{ motif.etat_police|default_if_none:"" }}</td>
                        <td>{{ motif.etat_sinistre|default_if_none:"" }}</td>
                        <td>{{ motif.created_at|date:"d/m/Y" }}</td>
                        <td class="text-center">
                            <span style="cursor:pointer;" class="btn_modifier_motif badge btn-sm btn-modifier rounded-pill text-center" data-motif_id="{motif.id}" data-model_name="motif" data-modal_title="MODIFICATION D'UN MOTIF" data-href="{% url 'modifier_motif' motif.id %}"><i class="fas fa-edit"></i> {{_('Modifier')}}</span>
                            <span class="badge badge-danger btn_supprimer_motif" data-motif_id="{{ motif.id }}" data-href="{% url 'supprimer_motif' motif.id %}" style="cursor:pointer;"><i class="fa fa-trash"></i></span>&nbsp;
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#motif').removeClass('o-bg-primary');
        $('#motif').addClass('o-active');
    } );
</script>

{% include 'motifs/modal_motif.html' %}
{% endblock %}
