{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrastyle %} {% endblock %}
{% block content_title %}
    <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">Liste des courriers  </h1>
          </div>
          <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                      <li class="breadcrumb-item">Paramétrage</li>
                      <li class="breadcrumb-item"><a href="{% url 'courrier' %}">Courriers</a></li>
                </ol>
          </div>
    </div>
{% endblock %}
{% block content %}
<div class="col-12 col-md-12 order-2 order-md-1">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">{{_('COURRIER')}}</h3>
    </div>
    <div class="card-body">
        <div class="button-link pull-right mb-2">
          <a class="btn btn-sm btn-primary mb-1" data-toggle="modal"  data-target="#modal-courrier"><i class="fas fa-plus"></i> {{_('Ajouter un courrier')}}</a>
        </div>

      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
              <div class="table-responsive">
              <table class="table table-bordered table-striped dataTable dtr-inline" id="table_formules">
                  <thead>
                    <tr>
                      <th class="d-none"></th>
                      <th scope="col">{{_('Designation')}}</th>
                      <th scope="col">{{_('Service')}}</th>
                      <th scope="col">{{_('Statut')}}</th>
                      <th scope="col">{{_("Date d'ajout")}}</th>
                      <th scope="col">{{_('Actions')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for courrier in courriers %}
                    <tr>
                        <td class="d-none"></td>
                        <td>{{ courrier.designation|default_if_none:"" }} </td>
                        <td>{{ courrier.service|escape}}</td>
                        <td><span class="badge badge-green">{{ courrier.status|default_if_none:""}}</span></td>
                         <td>{{ courrier.created_at|date:"d/m/Y" }}</td>

                        <td>
                            <span class="btn badge btn-sm btn-complement-rouge rounded-pill btn-modal-modifier_courrier" title="Modifier" data-href="{% url 'modifier_courrier' courrier.id %}" style="color:white;font-weight:normal;"><i class="fa fa-pencil"></i> {{_('Modifier')}}</span>&nbsp;&nbsp;&nbsp;
                              <span class="badge badge-danger btn_supprimer_courrier" data-courrier_id="{{ courrier.id }}" style="cursor:pointer;"><i class="fa fa-trash"></i> </span>&nbsp;
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>

</script>

{% include 'modal_courrier.html' %}
{% endblock %}
