{% load static %}

<!DOCTYPE html>
<html lang="en" class="light">

    <head>
        <meta charset="utf-8">
        <link href="{% static 'grh/images/logo.png' %}" rel="shortcut icon">
        <title>{{_('EMAIL_ENVOYE')}}</title>
        <link rel="stylesheet" href="{% static 'grh/css/app.css' %}" />
        <link rel="stylesheet" href="{% static 'grh/css/_app.css' %}" />

        {% comment %} CSS {% endcomment %}
        <style>
            #title {
                color: #B7482B;
            }
            #link {
                color: #0000FF;
            }
            #status {
                color: #FFFFFF;
                border-radius: 10px;
            }
            .login:after{
                background-image: url('{% static 'grh/images/log.jpg' %}');
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>

    <body class="login" >
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <div class="hidden xl:flex flex-col min-h-screen"></div>
                <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                    <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                        <h2 class="title intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left" id="title">
                          {{_('REINITIALISER_LE_MOT_DE_PASSE')}}
                        </h2>
                        <div class="intro-x alert w-auto alert-secondary-soft show flex items-center mx-auto inline-block justify-center p-3 mt-8">
                            <i data-feather="alert-circle" class="mr-2"></i>
                            <h1>{{_('VERIFIEZ_VOTRE_EMAIL_POUR_REINITIALISER_VOTRE_MOT_DE_PASSE')}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} JAVASCRIPT {% endcomment %}
        <script src="{% static 'grh/js/app.js' %}"></script>
        {% comment %}{% endcomment %}

    </body>
</html>