{% load static %}

<!DOCTYPE html>
<html lang="en" class="light">

    <head>
        <meta charset="utf-8">
        <link href="{% static 'grh/images/logo.png' %}" rel="shortcut icon">
        <title>{{_('REINITIALISER_LE_MOT_DE_PASSE')}}</title>

        <link rel="stylesheet" href="{% static 'grh/css/app.css' %}" />
        <link rel="stylesheet" href="{% static 'grh/css/_app.css' %}" />
        {% comment %} CSS {% endcomment %}
        <style>
            #title {
                color: #B7482B;
            }
            #link {
                color: #0000FF;
            }
            #status {
                color: #FFFFFF;
                border-radius: 10px;
            }
            .login:after{
                background-image: url('{% static 'grh/images/log.jpg' %}');
                background-size: cover;
                background-position: center;
            }
        </style>
        {% comment %}{% endcomment %}
    </head>


    <body class="login" >
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <div class="hidden xl:flex flex-col min-h-screen"></div>
                <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                    <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                        <h2 class="title intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left" id="title">
                            {{_('REINITIALISER_LE_MOT_DE_PASSE')}}
                        </h2>
                        <div class="intro-x mt-8">
                            {% if validlink %}
                            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            
                                <div class="card-body">
                                    <form method="POST" id="password_reset_form">
                                        {% csrf_token %}
                                        <div class="form-row mt-5">
                                            <label for="id_new_password1" class="form-label font-bold">{{_('Nouveau_mot_de_passe ')}}<small class="ml-2" id="title">*</small></label>
                                            <input type="password" name="new_password1" autocomplete="new-password" class="form-control w-full" required id="id_new_password1">
                                        </div>
                                        <div class="form-row mt-5">
                                            <label for="id_new_password2" class="form-label font-bold">{{_('Confirmer_nouveau_mot_de_passe')}} <small class="ml-2" id="title">*</small></label>
                                            <input type="password" name="new_password2" autocomplete="new-password" class="form-control w-full" required id="id_new_password2">
                                        </div>
                                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                                            <button type="submit" id="reset" class="btn btn-primary w-full">
                                                {{_('REINITIALISER')}}
                                                <i data-feather="refresh-cw" class="ml-2 mb-1"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="intro-x alert alert-danger-soft show mx-auto flex flex-col lg:flex-row items-center justify-center p-3 mt-5" id="password_strength_alert" style="display: none;">
                                    <i data-feather="alert-circle" class="mr-2"></i>
                                    <h1 id="password_strength_message"></h1>
                                </div>
                            </div>
                            
                            <div class="intro-x alert alert-danger-soft show mx-auto flex flex-col lg:flex-row items-center justify-center p-3 mt-5" id="password_mismatch_alert" style="display: none;">
                                <i data-feather="alert-circle" class="mr-2"></i>
                                <h1>{{_('Les_mots_de_passe_ne_correspondent_pas')}}</h1>
                            </div>

                        
                        {% else %}
                        <div class="alert alert-warning">
                            {{_('The_password_reset_link_was_invalid')}}, {{_('possibly_because_it_has_already_been_used')}}.
                            {{_('Please_request_a_new_password_reset')}}.
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} JAVASCRIPT {% endcomment %}
        <script src="{% static 'grh/js/app.js' %}"></script>
        {% comment %}{% endcomment %}

    </body>


   
</html>

<script>
    document.getElementById('password_reset_form').addEventListener('submit', function(event) {
        var newPassword1 = document.getElementById('id_new_password1').value;
        var newPassword2 = document.getElementById('id_new_password2').value;
        if (newPassword1 !== newPassword2) {
            document.getElementById('password_mismatch_alert').style.display = 'flex';
            event.preventDefault(); 
        } else if (!checkPasswordStrength(newPassword1)) {
            document.getElementById('password_strength_message').innerText = "Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.";
            document.getElementById('password_strength_alert').style.display = 'block';
            event.preventDefault(); 
        }
    });
    function checkPasswordStrength(password) {
        var regex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()_+}{"':;?/>.<,])[A-Za-z\d!@#$%^&*()_+}{"':;?/>.<,]{8,}$/;
        return regex.test(password);
    }
</script>