
{% load static %}

<!DOCTYPE html>
<html lang="en" class="light">

    <head>
        <meta charset="utf-8">
        <link href="{% static 'grh/images/logo.png' %}" rel="shortcut icon">
        <title>RÉINITIALISER LE MOT DE PASSE</title>
        <link rel="stylesheet" href="{% static 'grh/css/app.css' %}" />
        <link rel="stylesheet" href="{% static 'grh/css/_app.css' %}" />
        {% comment %} CSS {% endcomment %}
        <style>
            #title {
                color: #B7482B;
            }
            #link {
                color: #0000FF;
            }
            #status {
                color: #FFFFFF;
                border-radius: 10px;
            }
            .login:after{
                background-image: url('{% static 'grh/images/log.jpg' %}');
                background-size: cover;
                background-position: center;
            }
        </style>
        {% comment %}{% endcomment %}
    </head>

    <body class="login" >
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <div class="hidden xl:flex flex-col min-h-screen"></div>
                <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                    <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                        <h2 class="title intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left" id="title">
                            RÉINITIALISATION DE MOT DE PASSE
                        </h2>

                        <div class="intro-x mt-5">
                            <form method="post" action="{% url 'grh.password_reset_form' %}">
                                {% csrf_token %}
                                {% if error %}
                                    <div class="alert alert-primary-soft show flex items-center mb-5">
                                        <i class="mr-3" data-feather="alert-triangle"></i>
                                        {{ error }}
                                    </div>
                                {% endif %}
                                {% if request.session.username %}
                                <p>Veuillez renseigner votre nouveau mot de passe pour réinitialiser votre compte <strong style="color: #a75033;">({{request.session.username}})</strong>.</p>
                                <br>
                                {% endif %}

                                <input type="password" name="password" class="intro-x login__input form-control py-3 px-4 block" placeholder="Nouveau mot de passe" required>
                                <br>
                                <input type="password" name="confirm_password" class="intro-x login__input form-control py-3 px-4 block" placeholder="Comfirme nouveau mot de passe" required>
                                <div class="intro-x mt-5 xl:mt-8 flex items-center justify-center xl:justify-start">
                                    <button type="submit" class="btn btn-primary w-full">
                                        ENVOYER
                                        <i data-feather="send" class="ml-2 mb-1"></i>
                                    </button>
                                </div>
                                <br>
                                <a href="{% url 'grh.login' %}" class="btn btn-secondary py-2 px-4 block">Retour à la page de connexion.</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} JAVASCRIPT {% endcomment %}
        <script src="{% static 'grh/js/app.js' %}"></script>
        {% comment %}{% endcomment %}

    </body>
</html>