<div  class="modal fade"  id="modal-encaissement"  aria-hidden="true"  style="display: none">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<form enctype="multipart/form-data" id="form_add_encaissement_commission" action="{% url 'add_encaissement_commission' %}" method="post">
			{% csrf_token %}
			<div class="modal-header">
				<h4 class="modal-title">{{_("FORMULAIRE D'ENCAISSEMENT DE COMMISSION")}}</b></h4>
				<button type="button"class="close"data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert  alert-dismissible fade show hidden" role="alert">
				  <span class="message"> {{_("TRAITEMENT EN COURS")}}</span>
				</div>
				<div class="col-md-12 offset-0">
					<div class="row">
						<div class="col-md-6">

							<div class="form-group row">
									<label class="col-sm-6 col-form-label">{{_("Compte d'encaissement")}} <span class="required">*</span></label>
								<div class="col-sm-6">
									<select class="form-control form-add_reglement_compagnie-select" name="compte_tresorerie" id="compte_tresorerie" required>
										<option value="" selected>{{_("Choisir")}}</option>
										{% for ct in comptes_tresoreries %}
										<option value="{{ ct.id }}">{{ ct.libelle }}</option>
										{% endfor %}
									</select>
								</div>
							</div>


							<div class="form-group row">
								<label class="col-sm-6 col-form-label">{{_("Assureur")}} <span class="required">*</span></label>
								<div class="col-sm-6">
									<select class="form-control form-add_reglement_compagnie-select" name="compagnie" id="compagnie" required>
										<option value="">{{_("Choisir")}}</option>
										{% for compagnie in compagnies %}
										<option value="{{ compagnie.id }}" data-href_reglements_reverses="{% url 'ajax_reglements_reverses' compagnie.id %}">{{ compagnie.nom }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							{% comment %} 							
							<div class="form-group row">
								<label class="col-sm-6 col-form-label">{{_("Banque émettrice")}}</label>
								<div class="col-sm-6">
									<select class="form-control form-add_reglement_compagnie-select" name="banque" id="banque_rc">
										<option value="">Choisir</option>
										{% for banque in banques %}
										<option value="{{ banque.id }}">{{ banque.libelle }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
 							{% endcomment %}
						
							<div class="form-group row">
								<label class="col-sm-6 col-form-label">{{_("Banque emettrice")}}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control alpha_num_n_space_input" name="banque_emettrice" id="banque_emettrice"/>
								</div>
							</div>

						</div>
						<div class="vl"></div>
						<div class="col-md-6" style="border-left:0px;margin-left:-10px;padding-left:20px;">

							<div class="form-group row">
								<label class="col-sm-6 col-form-label">{{_("Mode d'encaissement")}} <span class="required">*</span></label>
								<div class="col-sm-6">
									<select class="form-control form-add_reglement_compagnie-select" name="mode_reglement" id="mode_reglement" required>
										<option value="">{{_("Choisir")}}</option>
										{% for mode_reglement in modes_reglements %}
										<option value="{{ mode_reglement.id }}">{{ mode_reglement.libelle }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-6 col-form-label">{{_("Date encaissement")}} <span class="required">*</span></label>
								<div class="col-sm-6">
									<input type="date" class="form-control" name="date_paiement" value="{{ today|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}"  max="{{ today|date:'Y-m-d' }}" readonly required/>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-6 col-form-label">{{_("Référence")}}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="numero_piece" />
								</div>
							</div>

						{% comment %} 
							<div class="form-group row">
								<label class="col-sm-6 col-form-label">{{_("Numéro pièce")}} <span class="required"></span></label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="numero_piece"/>
								</div>
							</div>

							<div class="form-group row">
									<label class="col-sm-6 col-form-label">{{_("Banque émettrice")}} <span class="required" id=""></span></label>
								<div class="col-sm-6">
									<select class="form-control form-add_reglement_compagnie-select" name="banque" id="banque_rc">
										<option value="">Choisir</option>
										{% for banque in banques %}
										<option value="{{ banque.id }}">{{ banque.libelle }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
		 				{% endcomment %}
						</div>
					</div>
					<div class="row table-responsive text-nowrap" style="border-top:1px solid #eee;"><span>{{_("Liste des règlements reversés")}}</span>
						<div id="box_reglements_reverses">
							<!-- LISTE A CHARGER DYNAMIQUEMENT  -->
							<table class="table table-bordered table-striped dataTable0 dtr-inline" id="table_reglements_reverses">
							  <thead>
								<tr>
								<th scope="col" width="2%"></th>
								<th scope="col" width="10%">{{_("Numero Reg client")}}</th>
								<th scope="col" width="10%">{{_("Numero Piece")}}</th>
								<th scope="col" width="7%">{{_("Com court")}}</th>
								<th scope="col" width="10%">{{_("Com court enc")}}</th>
								<th scope="col" width="9%">{{_("Restant total")}}</th>
								<th scope="col" width="10%">{{_("Numero Quittance")}}</th>
								<th scope="col" width="11%">{{_("Client")}}</th>
								<th scope="col" width="7%">{{_("Mt Reg clt")}}</th>
								<th scope="col" width="7%">{{_("Mt CIE")}}</th>
								{% comment %} <th scope="col">{{_("Com Apport")}}</th> {% endcomment %}
								{% comment %} <th scope="col">{{_("Date Reversement")}}</th> {% endcomment %}
								</tr>
							  </thead>
							  <tbody>
							  	<tr>
								  <td colspan="15" style="text-align:center;">{{_("Selectionner un assureur pour charger la liste")}}</td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>

				</div>

					<div class="row">
						<div class="col-md-4">

							<div class="form-group row">
									<label class="col-sm-3 col-form-label">{{_("Compte")}} <span class="required"></span></label>
								<div class="col-sm-9">
									<select class="form-control handle_calculer_montant_total_a_encaisser" name="compte_difference" id="compte_difference">
										<option value="" selected>{{_("Choisir")}}</option>
										{% for cte in comptes_exercices %}
											<option value="{{ cte.id }}">{{ cte.libelle }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-2">

							<div class="form-group row">
								<label class="col-sm-3 col-form-label">{{_("Débit")}}</label>
								<div class="col-sm-9">
									<input type="text" class="form-control handle_calculer_montant_total_a_encaisser money_field" name="debit_difference" id="debit_difference" />
								</div>
							</div>
						</div>
						<div class="col-md-2">

							<div class="form-group row">
								<label class="col-sm-3 col-form-label">{{_("Crédit")}}</label>
								<div class="col-sm-9">
									<input type="text" class="form-control handle_calculer_montant_total_a_encaisser money_field" name="credit_difference" id="credit_difference" />
								</div>
							</div>
						</div>
						<div class="col-md-4">

							<div class="form-group row">
								<label class="col-sm-3 col-form-label">{{_("Libelle")}}</label>
								<div class="col-sm-9">
									<input type="text" class="form-control handle_calculer_montant_total_a_encaisser" name="libelle_difference" />
								</div>
							</div>
						</div>
					</div>


				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> {{_("Retour")}}</button>
					{% comment %} <div>{{_("Total reg clt")}} : <input type="text" class="money_field montant_total_reglements_coches" readonly style="background:none;border:none;font-size:18px;width:150px;font-weight:bold;"/></div> {% endcomment %}
					{% comment %} <div>{{_("Montant Total Cie")}} : <input type="text" class="money_field montant_total_a_regler_compagnie" readonly style="background:none;border:none;font-size:18px;width:150px;font-weight:bold;"/> {{police.client.pays.devise.code}}</div> {% endcomment %}
					<div>{{_("Commission à encaisser")}} : <input type="text" name="montant_total_regle" class="money_field montant_total_com" readonly style="background:none;border:none;font-size:18px;width:150px;font-weight:bold;"/></div>
					<button disabled type="button" id="btn_save_encaissement" class="btn o-bg-primary"><i class="fa fa-check-circle"></i> {{_("Valider")}}</button>
				</div>


			</div>
			</form>
		</div>
	</div>

</div><script>

	function addInputAlphaNumWithSpaceValidation(inputSelector, errorId) {
		var previousValue = ""; // Déclarer previousValue en dehors de la fonction
		$(inputSelector).on("input", function () {
			var inputValue = $(this).val();
			// Modifier la regex pour inclure les espaces
			var alphanumericRegex = /^[a-zA-Z0-9\/\-_ ]*$/; 
			var errorMessage = $("#" + errorId);

			if (!alphanumericRegex.test(inputValue)) {
				errorMessage.css("display", "block");
				$(this).val(previousValue); // Restaurer la valeur précédente
				setTimeout(function () {
					errorMessage.css("display", "none");
				}, 5000); // Masquer le message d'erreur après 5 secondes
			} else {
				previousValue = inputValue; // Mettre à jour la valeur précédente
				errorMessage.css("display", "none");
			}
		});
	}

	$(document).ready(function () {
		addInputAlphaNumWithSpaceValidation(".alpha_num_n_space_input", "error-message");
	});

</script>