{% extends "grh/layouts/base.html" %}
{% load static %}
{% block title %}{{_('DETAILS_FORMULE_POLICE')}}{% endblock %}

{% block content %}

    <style>
        #title {
            color: #B7482B;
        }
        #link {
            color: #0000FF;
        }
        #status {
            padding: 5px;
            border-radius: 5px;
        }
        .dataTables_filter {
            padding: 20px;
        }
        .dataTables_length select {
            width: auto;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        .dataTables_info{
            text-align: start;
        }

        .dataTables_filter{
            padding: 20px;
            margin-top: -19px;
        }

    </style>

    <div class="flex items-start pt-5 intro-y">
        <div class="w-full flex flex-col lg:flex-row items-center">
            <a href="{% url 'grh.police_overview' police.id %}">
                <button class="btn btn-primary-soft flex items-center w-30 pd-5">
                    <i data-feather="corner-up-left" class="report-box__icon text-primary mr-2"></i>
                    {{_('RETOUR')}}
                </button>            
            </a>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-6 pt-5">
        <div class="col-span-12 2xl:col-span-12">
            <div class="grid grid-cols-12 gap-6">
                <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12">
                    <div class="box">
                        <div class="flex items-start px-5 pt-5">
                            <div class="w-full flex flex-col lg:flex-row items-center">
                                <h1 class="text-xl lg:text-lg font-medium mb-3 mr-5" id="title">
                                    {{_('POLICE')}}
                                </h1>
                            </div>
                        </div>
                        <div class="text-center p-5 border-t border-slate-200/60 dark:border-darkmode-400">
                            <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                                <table class="table table-report -mt-2">
                                    <thead>
                                        <tr>
                                            <th class="whitespace-nowrap">{{_('Nom_assure')}}</th>
                                            <th class="whitespace-nowrap">{{_('Assureur')}}</th>
                                            <th class="whitespace-nowrap">{{_('Reference_police')}}</th>
                                            <th class="whitespace-nowrap">{{_('Statut')}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="intro-x">
                                            <td class="w-auto">{{ police.client.nom|default_if_none:"" }}</td>
                                            <td class="w-auto">{{ police.compagnie|default_if_none:"" }}</td>
                                            <td class="w-auto">{{ police.numero|default_if_none:"" }}</td>
                                            <td class="w-auto">
                                                <div class="flex items justify-center" id="status" 
                                                style="background-color: {% if police.statut == 'ACTIF' %}#007500;color:#FFFFFF;font-weight: bold;
                                                {% elif police.statut == 'INACTIF' %}#DC3545;color:#FFFFFF;font-weight: bold;
                                                {% elif police.statut == 'ANNULE' %}#C5C5C5;color:#000000;font-weight: bold;
                                                {% endif %}">
                                                    {{ police.statut|default_if_none:"" }}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-8">
        <div class="col-span-12 2xl:col-span-12">
            <div class="grid grid-cols-12 gap-6">
                <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12">
                    <div class="box">
                        <div class="flex items-start px-5 pt-5">
                            <div class="w-full flex flex-col lg:flex-row items-center">
                                <h1 class="text-xl lg:text-lg font-medium mb-3 mr-5" id="title">
                                    {{_('FORMULE')}}
                                </h1>
                            </div>
                        </div>
                        <div class="text-center p-5 border-t border-slate-200/60 dark:border-darkmode-400">
                            <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                                <div class="mt-1">
                                    <div class="flex">
                                        <div class="w-1/2 p-2 mt-2 flex border-r border-gray-500">
                                            <div class="w-1/2 p-2 mt-2">
                                                <p class="font-bold">{{_('Libelle_formule')}}</p>
                                            </div>
                                            <div class="w-1/2 p-2 mt-2">
                                                <p>{{ formule.libelle|default_if_none:"" }}</p>
                                            </div>
                                        </div>
                                        <div class="w-1/2 p-2 mt-2 flex">
                                            <div class="w-1/2 p-2 mt-2">
                                                <p class="font-bold">{{_('Code_formule')}}</p>
                                            </div>
                                            <div class="w-1/2 p-2 mt-2">
                                                <p>{{ formule.code|default_if_none:"" }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-8">
        <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12">
            <div class="box">
                <div class="flex items-start px-5 pt-5">
                    <div class="w-full flex flex-col lg:flex-row items-center border-b border-gray-500">
                        <h1 class="text-xl lg:text-lg font-medium mb-3 mr-5" id="title">
                            {{_('SPECIFICITES_DU_BAREME')}}
                        </h1>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-6 mt-2 p-8">
                    <div class="intro-y col-span-12 overflow-auto">
                        {% if baremes %}
                        <table class="table table-report overflow-x-auto datatable">
                            <thead>
                                <tr>
                                    <th class="whitespace-nowrap">{{_('Rubrique')}}</th>
                                    <th class="whitespace-nowrap">{{_('Sous_rubrique')}}</th>
                                    <th class="whitespace-nowrap">{{_('Regroupement_Acte')}}</th>
                                    <th class="whitespace-nowrap">{{_('Acte')}}</th>
                                    <th class="whitespace-nowrap">{{_('Lien_Parente')}}</th>
                                    <th class="whitespace-nowrap">{{_('Age_Min')}}.</th>
                                    <th class="whitespace-nowrap">{{_('Age_Max')}}.</th>
                                    <th class="whitespace-nowrap">{{_('Garantie_Exclu')}}</th>
                                    <th class="whitespace-nowrap">{{_('Couverture')}}</th>
                                    <th class="whitespace-nowrap">{{_('Plafond_Sous_Rubrique')}}</th>
                                    <th class="whitespace-nowrap">{{_('Plafond_Regroupement')}}</th>
                                    <th class="whitespace-nowrap">{{_('Plafond_Acte')}}</th>
                                    <th class="whitespace-nowrap">{{_('Periodicite')}}</th>
                                    <th class="whitespace-nowrap">{{_('Actions')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bareme in baremes %}
                                {% load custom_filters %}
                                    <tr class="intro-x">
                                        <td class="w-auto">{{ bareme.rubrique|default_if_none:"" }}</td>
                                        <td class="w-auto">{{ bareme.sous_rubrique|default_if_none:"" }}</td>
                                        <td class="w-auto">{{ bareme.regroupement_acte|default_if_none:"" }}</td>
                                        <td class="w-auto">{{ bareme.acte.libelle|default_if_none:"" }}</td>
                                        <td class="w-auto">{{ bareme.qualite_beneficiaire.libelle|default_if_none:"" }}</td>
                                        <td class="w-auto">{{ bareme.age_minimum|default_if_none:"" }}</td>
                                        <td class="w-auto">{{ bareme.age_maximum|default_if_none:"" }}</td>
                                        <td class="w-auto">
                                            <div class="flex items justify-center" id="status" 
                                                style="background-color: {% if bareme.is_garanti %}#007500;color:#FFFFFF;font-weight: bold;
                                                        {% else %}#DC3545;color:#FFFFFF;font-weight: bold;
                                                        {% endif %}">
                                                {% if bareme.is_garanti %}
                                                    {{_('Garantie')}}
                                                {% else %}
                                                    {{_('Exclu')}}
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="w-auto">{{ bareme.taux_couverture|default_if_none:"" }} %</td>
                                        <td class="w-auto">{{ bareme.plafond_sous_rubrique|default_if_none:"" }}</td>
                                        <td class="w-auto">{{ bareme.plafond_regroupement_acte|default_if_none:"" }}</td>
                                        <td class="w-auto">{{ bareme.plafond_acte|default_if_none:""|format_amount }}</td>
                                        <td class="w-auto">{{ bareme.periodicite|default_if_none:"" }}</td>
                                        <td class="table-report__action">
                                            <div class="flex justify-center items-center">
                                                <a href="{% url 'grh.details_garantie_formule_police' police.id formule.id bareme.id %}"><i data-feather="eye" id="title"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <div class="alert alert-primary-soft show flex items-center mb-5 mx-auto inline-block justify-center">
                                <i data-feather="info" class="mr-2"></i>
                                {{_('AUCUNE_DONNEE')}}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12 mt-2">
        <div class="box">
            <div class="flex items-start px-5 pt-5">
                <div class="w-full flex flex-col lg:flex-row items-center border-b border-gray-500">
                    <h1 class="text-xl lg:text-lg font-medium mb-3 mr-5" id="title">
                        RÉSEAU DE LA FORMULE
                    </h1>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-6 mt-1">
                <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                    {% if reseau_soins %}
                        <table class="table table-report -mt-2">
                            <thead>
                                <tr>
                                    <th class="whitespace-nowrap">Nom</th>
                                    <th class="whitespace-nowrap">Nature</th>
                                    <th class="whitespace-nowrap text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reseau_soin in reseau_soins %}
                                <tr class="intro-x">
                                    <td class="w-40">{{ reseau_soin.nom }}</td>
                                    <td class="w-40">
                                        <div class="flex items justify-center" id="status" 
                                            style="background-color: {% if reseau_soin.status == 'True' %}#008000;
                                            {% elif reseau_soin.status == 'False' %}background-color: #FF0000;
                                            {% endif %}">
                                            {{ reseau_soin.status }}
                                        </div>
                                    </td>
                                    <td class="table-report__action w-5">
                                        <div class="flex justify-center items-center">
                                            <a href="{% url 'grh.reseau_de_soin' police.id formule.id %}"><i data-feather="eye" id="title"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <div class="alert w-72 alert-primary-soft show flex items-center mb-5 mx-auto inline-block">
                        <i data-feather="info" class="mr-2"></i>
                        AUCUN RÉSEAU SUR LA FORMULE
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12 mt-8">
        <div class="box">
            <div class="flex items-start px-5 pt-5">
                <div class="w-full flex flex-col lg:flex-row items-center border-b border-gray-500">
                    <h1 class="text-xl lg:text-lg font-medium mb-3 mr-5"  id="title">
                        TARIF DE LA FORMULE
                    </h1>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-6 mt-1">
                <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                    <table class="table table-report -mt-2">
                        <thead>
                            <tr>
                                <th class="whitespace-nowrap">Option de Calcul</th>
                                <th class="whitespace-nowrap">Type de Tarif</th>
                                <th class="whitespace-nowrap">Prime HT</th>
                                <th class="whitespace-nowrap">Prime TTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="intro-x">
                                <td class="w-40">{{ police.mode_calcul }}</td>
                                <td class="w-40">{{ formule.type_tarif }}</td>
                                <td class="w-40">{{ police.prime_ht }}</td>
                                <td class="w-40">{{ police.prime_ttc }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

    <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12 mt-8">
        <div class="box">
            <div class="flex items-start px-5 pt-5">
                <div class="w-full flex flex-col lg:flex-row items-center border-b border-gray-500">
                    <h1 class="text-xl lg:text-lg font-medium mb-3 mr-5"  id="title">
                        {{_('PLAFONDS_GENERAUX')}}
                    </h1>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-6 mt-2 p-8">
                <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                    {% if formule %}
                    <table class="table table-report -mt-2 datatable">
                        <thead>
                            <tr>
                                <th class="whitespace-nowrap">{{_('Type_plafond')}}</th>
                                <th class="whitespace-nowrap">{{_('Valeur')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="intro-x">
                                <td class="w-auto">{{_('Plafond_Consommation_Famille')}}</td>
                                <td class="w-auto">{{ formule.plafond_conso_famille|default_if_none:""|format_amount }}</td>
                            </tr>
                            <tr class="intro-x">
                                <td class="w-40">{{_('Plafond_Consommation_Individuelle')}}</td>
                                <td class="w-40">{{ formule.plafond_conso_individuelle|default_if_none:""|format_amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                        <div class="alert alert-primary-soft show flex items-center mb-5 mx-auto inline-block justify-center">
                            <i data-feather="info" class="mr-2"></i>
                            {{_('AUCUNE_DONNEE')}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>
        // DataTable - Plugin
        const tables = document.querySelectorAll('.datatable');
        tables.forEach(table => {
            if (!jQuery.fn.DataTable.isDataTable(table)) {
                jQuery(table).DataTable({
                    pageLength: 5,
                    lengthMenu: [5, 10, 25],
                    language: {
                        search: "",
                        searchPlaceholder: "Rechercher...",
                        processing:     "Chargement en cours...",
                        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                        info:           "Affichage de _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                        loadingRecords: "Chargement en cours...",
                        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        paginate: {
                            first:      "Premier",
                            previous:   "Pr&eacute;c&eacute;dent",
                            next:       "Suivant",
                            last:       "Dernier"
                        },
                    },
                    drawCallback: function(settings) {
                    var info = jQuery(table).closest('.dataTables_wrapper').find('.dataTables_info');
                    var lengthMenu = jQuery(table).closest('.dataTables_wrapper').find('.dataTables_length');
                    var tableWrapper = jQuery(table).closest('.dataTables_wrapper');
                    tableWrapper.find('.row:eq(0)').prepend(lengthMenu);
                    tableWrapper.find('.row:eq(1)').prepend(info);
                    lengthMenu.css('position', 'absolute').css('bottom', '0').css('left', '0');
                    feather.replace();
                    }
                });
            }
        });
        // DataTable - Plugin
    </script>

{% endblock %}
