{% load static %}

    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 2xl:col-span-12">
            <div class="grid grid-cols-12 gap-6">
                <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12">
                    <div class="box">
                        <div class="flex items-start px-5 pt-5">
                            <div class="w-full flex flex-col lg:flex-row items-center border-b border-gray-500">
                                <h1 class="text-xl lg:text-lg font-medium mb-3 mr-5" style="color:#B7482B;">
                                    FORMULE DE LA POLICE
                                </h1>
                            </div>
                        </div>
                        {% comment %}{% endcomment %}
                        <div class="grid grid-cols-12 gap-6 mt-5">
                            <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2 p-8">
                                <div class="hidden md:block mx-auto text-slate-500">Affichage de 1 à 10 sur 150 entrées</div>
                                <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                                    <div class="w-56 relative text-slate-500">
                                        <input type="text" class="form-control w-56 box pr-10" placeholder="Rechercher...">
                                        <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search"></i> 
                                    </div>
                                </div>
                            </div>
                        {% comment %}{% endcomment %}
                        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                            <table class="table table-report -mt-2">
                                <thead>
                                    <tr>
                                        <th class="whitespace-nowrap">Code formule</th>
                                        <th class="whitespace-nowrap">Libellé formule</th>
                                        <th class="whitespace-nowrap text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="intro-x">
                                        <td>
                                            <a href="{% url 'grh.details_formule_police' %}" style="color: blue;">F00035CG01</a>
                                        </td>
                                        <td>Mon Client Test CG01</td>
                                        <td class="table-report__action">
                                            <div class="flex justify-center items-center">
                                                <a href="{% url 'grh.details_formule_police' %}"><i data-feather="eye" style="color:#B7482B;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% comment %}{% endcomment %}
                        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center p-8">
                            <nav class="w-full sm:w-auto sm:mr-auto">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#"> <i class="w-4 h-4" data-feather="chevrons-left"></i> </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"> <i class="w-4 h-4" data-feather="chevron-left"></i> </a>
                                    </li>
                                    <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                                    <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                                    <li class="page-item active"> <a class="page-link" href="#">2</a> </li>
                                    <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                                    <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"> <i class="w-4 h-4" data-feather="chevron-right"></i> </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"> <i class="w-4 h-4" data-feather="chevrons-right"></i> </a>
                                    </li>
                                </ul>
                            </nav>
                            <select class="w-20 form-select box mt-3 sm:mt-0">
                                <option>10</option>
                                <option>25</option>
                                <option>35</option>
                                <option>50</option>
                            </select>
                        </div>
                        {% comment %}{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div class="col-span-12 2xl:col-span-12">
        <div class="grid grid-cols-12 gap-6">
            <div class="intro-y col-span-12 md:col-span-12 lg:col-span-12">
                <div class="box">
                    <div class="flex items-start px-5 pt-5">
                        <div class="w-full flex flex-col lg:flex-row items-center border-b border-gray-500">
                            <h1 class="text-xl lg:text-lg font-medium mb-3 mr-5">
                                EXCLUSIONS
                            </h1>
                        </div>
                    </div>
                    <div class="mt-1">
                            <div class="p-2 mt-2 flex border-r border-gray-500">
                                <div class="w-1/2 p-2 mt-2">
                                    <p class="font-bold">Exclusions</p>
                                </div>
                                <div class="w-1/2 p-2 mt-2">
                                    <p>Produits de beauté- Produits cosmétiques- Médicamants traditionnels- Maldies congénitales- Pansement</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}